.gi-accordion {
  @apply gi:focus-visible-state-outline-inner-shadow-sm;
}

.gi-accordion-header {
  @apply gi:items-start;
}

.gi-accordion[data-disabled='false'] {
  @apply gi:hover:bg-gray-200 gi:focus-state-outline-inner-shadow-sm;
}

.gi-accordion[data-disabled='false'] .gi-accordion-header {
  @apply gi:cursor-pointer;
}

.gi-accordion[data-disabled='true'] .gi-accordion-header {
  @apply gi:cursor-not-allowed gi:text-gray-600;
}

.gi-accordion .gi-accordion-header {
  @apply gi:flex gi:justify-between;
}
