.gi-footer {
  @apply gi:bg-color-surface-system-neutral-layer1;
}

.gi-footer-logo {
  @apply gi:w-fit
    gi:mt-8
    gi:md:mt-0
    gi:lg:ml-auto
    gi:lg:flex-none
    gi:rounded-sm
    gi:focus-state-outline
    gi:focus-within-state-outline
    gi:focus-visible-state-outline;
}

.gi-footer-container {
  @apply gi:py-10;
}

.gi-footer-secondary-slot {
  @apply gi:flex
    gi:flex-row-reverse
    gi:flex-wrap-reverse
    gi:justify-between
    gi:justify-items-stretch;
}

.gi-footer-secondary-slot-content {
  @apply gi:grow
    gi:md:max-w-[calc(100%_-_var(--gieds-space-80))];
}

.gi-footer-utility {
  @apply gi:py-4
    gi:px-8
    gi:bg-color-surface-system-neutral-layer2;
}
