.footer {
  background-color: var(--govie-color-gold-50);
  border-top: var(--govie-border-width-100) solid var(--govie-color-gold-500);
  padding: var(--govie-space-5) 0;
}

.footerInner {
  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: 640px) {
    justify-content: flex-end;
  }
}
