.iconButton {
  &:not([disabled]) {
    cursor: pointer;

    &:hover {
      background-color: var(--govie-color-gray-50);
    }
  }

  padding: var(--govie-space-2);
  border-radius: var(--govie-border-radius-200);
}
