.iconButton {
  &:not([disabled]) {
    cursor: pointer;

    &:hover {
      background-color: var(--gieds-color-gray-50);
    }
  }

  padding: var(--gieds-space-2);
  border-radius: var(--gieds-border-radius-200);
}
