node_modules
dist
.DS_Store
*storybook.log
package-lock.json
storybook-static
theme.zip
govie-frontend.zip
fonts.zip
/packages/html/ds/static/
coverage
accessibility-audit.html
.vscode
!.vscode/extensions.json
info.log


# Playwright
test-results
playwright-report
blob-report
playwright/.cache
