@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Outlined');

.gieds-js .js\:gi-hidden {
  display: none;
}

.gieds-js .js\:gi-max-height {
  max-height: 0;
  opacity: 0;
}

@layer base {
  html {
    @apply gi-text-gray-950 gi-font-primary;
  }
}

@layer components {
  /* Typography */
  
  /* End Typography */

  /* Layout */

  .gi-layout-container {
    @apply gi-container gi-mx-auto
  }

  .gi-layout-column-container {
    @apply gi-flex gi-flex-col md:gi-flex-row
  }

  .gi-layout-column-2-3 {
    @apply gi-w-full md:gi-w-2/3
  }

  .gi-layout-column-1-3 {
    @apply gi-w-full md:gi-w-1/3
  }

  /* End Layout */

  /* Header */

  #GovieHeader {
    #MenuContainer:has(#SearchTrigger:checked) ~ #SearchContainer {
      height: var(--gieds-space-40);
    }

    #SearchTrigger:checked ~ .search-icon {
      display: none;
    }

    #SearchTrigger:checked ~ .close-icon {
      display: block;
    }

    #MenuContainer:has(#MobileMenuTrigger:checked) ~ #HeaderMenuContainer {
      transform: translateX(0);
    }
    #MenuContainer:has(#MobileMenuTrigger:checked) ~ #HeaderOverlayContainer {
      display: block;
      position: fixed;
    }
  }
  
  /* End Header */

  /* Tabs */

  [name="tabs"]:checked+label {
    @apply gi-border-solid gi-border-gray-200 gi-border-x-xs gi-border-t-xs gi-border-b-0 gi-bg-white gi-px-5 gi-py-3 gi--mt-2 gi-no-underline
  }

  [name="tabs"]:hover+label>* {
    @apply gi-decoration-lg
  }

  [name="tabs"]:focus+label>* {
    @apply gi-outline gi-outline-transparent gi-bg-yellow-400 gi-outline-2 gi-shadow gi-shadow-yellow-400
  }

  div.gi-tabs:has([role="tablist"] [name="tabs"]:nth-of-type(1):checked) [role="tabpanel"]:nth-of-type(2),
  div.gi-tabs:has([role="tablist"] [name="tabs"]:nth-of-type(2):checked) [role="tabpanel"]:nth-of-type(3),
  div.gi-tabs:has([role="tablist"] [name="tabs"]:nth-of-type(3):checked) [role="tabpanel"]:nth-of-type(4),
  div.gi-tabs:has([role="tablist"] [name="tabs"]:nth-of-type(4):checked) [role="tabpanel"]:nth-of-type(5),
  div.gi-tabs:has([role="tablist"] [name="tabs"]:nth-of-type(5):checked) [role="tabpanel"]:nth-of-type(6),
  div.gi-tabs:has([role="tablist"] [name="tabs"]:nth-of-type(6):checked) [role="tabpanel"]:nth-of-type(7),
  div.gi-tabs:has([role="tablist"] [name="tabs"]:nth-of-type(7):checked) [role="tabpanel"]:nth-of-type(8),
  div.gi-tabs:has([role="tablist"] [name="tabs"]:nth-of-type(8):checked) [role="tabpanel"]:nth-of-type(9),
  div.gi-tabs:has([role="tablist"] [name="tabs"]:nth-of-type(9):checked) [role="tabpanel"]:nth-of-type(10),
  div.gi-tabs:has([role="tablist"] [name="tabs"]:nth-of-type(10):checked) [role="tabpanel"]:nth-of-type(11),
  div.gi-tabs:has([role="tablist"] [name="tabs"]:nth-of-type(11):checked) [role="tabpanel"]:nth-of-type(12),
  div.gi-tabs:has([role="tablist"] [name="tabs"]:nth-of-type(12):checked) [role="tabpanel"]:nth-of-type(13) {
    display: block;
  }  
  /* End Tabs */
  
  /* Input File */

  input[type='file' i] {
    @apply gi-appearance-none gi-bg-[initial] gi-cursor-default gi-items-baseline gi-text-ellipsis gi-text-start gi-whitespace-pre;
  }
  
  /* End Input File */
}
