@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import 'node_modules/@ogcio/design-system-tailwind/css/fonts.css';
@import 'node_modules/@ogcio/design-system-tailwind/css/layout.css';
@import 'node_modules/@ogcio/design-system-tailwind/css/components.css';
@import 'node_modules/@ogcio/design-system-tailwind/css/typography.css';

.gieds-js .js\:gi-hidden {
  display: none;
}

.gieds-js .js\:gi-max-height {
  max-height: 0;
  opacity: 0;
}

@layer base {
  html {
    @apply gi-text-gray-950 gi-font-primary;
  }
}
