@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,400,0..1,0&icon_names=accessibility_new,...,work');

@config "./tailwind.config.ts";
@import 'tailwindcss' prefix(gi);
@import '@ogcio/design-system-tailwind/layout.css';
@import '@ogcio/design-system-tailwind/components.css';
@import '@ogcio/design-system-tailwind/typography.css';

.gieds-js .js\:gi-hidden {
  display: none;
}

.gieds-js .js\:gi-max-height {
  max-height: 0;
  opacity: 0;
}

@layer base {
  html {
    @apply gi:text-gray-950 gi:font-primary;
  }
}
