/* Native notyf classes */
.notyf {
  /* The important classes are needed since we need to overide the notyf library package styles */
  @apply !gi-gap-6;
}
.notyf__toast {
  /* The important classes are needed since we need to overide the notyf library package styles */
  @apply !gi-m-0 !gi-p-0 !gi-min-w-[340px] !gi-max-w-[460px];
  animation-delay: 0s !important;
}
.notyf__message {
  /* The important classes are needed since we need to overide the notyf library package styles */
  @apply !gi-w-full;
  animation-delay: 0s !important;
}
.notyf__wrapper {
  /* The important classes are needed since we need to overide the notyf library package styles */
  @apply !gi-m-0 !gi-p-0;
}
.notyf__toast:has(.gi-toast-info) {
  /* The important classes are needed since we need to overide the notyf library package styles */
  @apply !gi-shadow-[0px_0px_25px_-5px_rgba(7,33,85,0.15)];
}
.notyf__toast:has(.gi-toast-success) {
  /* The important classes are needed since we need to overide the notyf library package  styles */
  @apply !gi-shadow-[0px_0px_25px_-5px_rgba(0,61,33,0.15)];
}
.notyf__toast:has(.gi-toast-warning) {
  /* The important classes are needed since we need to overide the notyf library package styles */
  @apply !gi-shadow-[0px_0px_25px_-5px_rgba(62,41,25,0.15)];
}
.notyf__toast:has(.gi-toast-danger) {
  /* The important classes are needed since we need to overide the notyf library package styles */
  @apply !gi-shadow-[0px_0px_25px_-5px_rgba(76,11,0,0.15)];
}

.notyf__toast--disappear {
  transform: translateY(0);
  -webkit-animation: notyf-fadeoutdown 0.3s forwards;
  animation: notyf-fadeoutdown 0.3s forwards;
  -webkit-animation-delay: 0.25s;
  animation-delay: 0.25s;
}
