.foo {
  font-size: 8px; /* Default font size */

  @media (min-width: 768px) {
    font-size: 8px; /* Font size for screens larger than 768px */
  }

  @media (min-width: 1024px) {
    font-size: 20px; /* Font size for screens larger than 1024px */
  }

  @media (min-width: 1280px) {
    font-size: 40px; /* Font size for screens larger than 1280px */
  }
}
