<!-- 
 <header id="GovieHeader" class="gi-header" data-module="gieds-header">
  <div class="gi-layout-container gi-order-2">
    <div class="gi-header-menu">
      <div>
        <div class="gi-header-logo">
          <a data-testid="logo-link" href="/link">
            <picture>
              <source
                srcset="https://raw.githubusercontent.com/ogcio/govie-ds/refs/heads/main/assets/logos/gov-of-ireland/harp-white.svg"
                media="(min-width: 640px)">
              <img
                src="https://raw.githubusercontent.com/ogcio/govie-ds/refs/heads/main/assets/logos/harp/harp-white.svg"
                alt="Gov.ie logo" class="gi-h-10 sm:gi-h-14">
            </picture>
          </a>
        </div>
        <div class="gi-header-title gi-hidden"></div>
      </div>
      <div class="gi-gap-2 md:gi-gap-4">
        <div class="gi-hidden lg:gi-block">
          <a class="gi-header-tool-item" href="#">Departments</a>
        </div>
        <div class="gi-hidden lg:gi-block">
          <a class="gi-header-tool-item" href="#">Services</a>
        </div>
        <div class="gi-block">
          <div class="gi-header-divider"></div>
        </div>
        <div class="gi-block">
          <label class="gi-header-tool-item" for="ItemActionTrigger-3" data-testid="ItemActionTrigger-3"
            aria-label="Search" id="ItemActionLabel-3">
            <input id="ItemActionTrigger-3" type="checkbox" data-index="3">
            <span class="label">Search</span>
            <span class="material-symbols-outlined gi-text-[24px] gi-block" role="alert" id="ItemIconActionTrigger-3"
              style="font-variation-settings: &quot;FILL&quot; 0, &quot;wght&quot; 400, &quot;GRAD&quot; 0, &quot;opsz&quot; 24;">search</span>
            <span class="material-symbols-outlined gi-text-[24px] gi-block gi-hidden close-icon" role="alert"
              id="ItemCloseTrigger-3"
              style="font-variation-settings: &quot;FILL&quot; 0, &quot;wght&quot; 400, &quot;GRAD&quot; 0, &quot;opsz&quot; 24;">close</span>
          </label>
        </div>
        <div class="gi-block lg:gi-hidden">
          <label class="gi-header-tool-item" for="ItemActionTrigger-4" data-testid="ItemActionTrigger-4"
            aria-label="Menu" id="ItemActionLabel-4">
            <input id="ItemActionTrigger-4" type="checkbox" data-index="4">
            <span class="label">Menu</span>
            <span class="material-symbols-outlined gi-text-[24px] gi-block" role="alert" id="ItemIconActionTrigger-4"
              style="font-variation-settings: &quot;FILL&quot; 0, &quot;wght&quot; 400, &quot;GRAD&quot; 0, &quot;opsz&quot; 24;">menu</span>
            <span class="material-symbols-outlined gi-text-[24px] gi-block gi-hidden close-icon" role="alert"
              id="ItemCloseTrigger-4"
              style="font-variation-settings: &quot;FILL&quot; 0, &quot;wght&quot; 400, &quot;GRAD&quot; 0, &quot;opsz&quot; 24;">close</span>
          </label>
        </div>
      </div>
    </div>
  </div>
  <div data-module="gieds-drawer" id="Drawer-4">
    <div data-element="modal" data-testid="modal" class="gi-modal" data-position="right" data-open="false">
      <div data-element="modal-container" data-testid="modal-container"
        class="gi-modal-container-control gi-modal-container gi-modal-container-right gi-drawer-container">
        <div>
          <button class="gi-btn gi-icon-btn-small gi-btn-flat-dark gi-modal-icon">
            <span class="material-symbols-outlined gi-text-[16px] gi-block" role="alert"
              style="font-variation-settings: &quot;FILL&quot; 0, &quot;wght&quot; 400, &quot;GRAD&quot; 0, &quot;opsz&quot; 24;">close</span>
          </button>
        </div>
        <div data-testid="modal-body" class="gi-modal-body g-drawer-body">
          <ul>
            <li>
              <a href="#" class="gi-list-item">
                <span class="gi-text-sm gi-ml-1">Departments</span>
              </a>
            </li>
            <li>
              <a href="#" class="gi-list-item">
                <span class="gi-text-sm gi-ml-1">Services</span>
              </a>
            </li>
            <li>
              <a href="#" class="gi-list-item">
                <span class="gi-text-sm gi-ml-1">English</span>
              </a>
            </li>
            <li>
              <a href="#" class="gi-list-item">
                <span class="gi-text-sm gi-ml-1">Gaeilge</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="gi-header-secondary-bar gi-order-1">
    <div class="gi-layout-container">
      <ul>
        <li>
          <a href="#" class="gi-header-secondary-item">English</a>
        </li>
        <li>
          <a href="#" class="gi-header-secondary-item">Gaeilge</a>
        </li>
      </ul>
    </div>
  </div>
  <div id="SlotContainer-3" data-index="3" aria-label="Slot Container 4"
    class="gi-hidden gi-bg-gray-50 gi-py-4 gi-px-4 gi-border-b-2xl gi-border-b-emerald-800 gi-order-3">
    <form class="gi-max-w-md gi-mx-auto">
      <h4 class="gi-heading-sm">Search the website</h4>
      <div class="gi-flex gi-items-end gi-mt-4">
        <div class="gi-input-text-container gi-flex-auto">
          <div class="gi-input-text-container">
            <input placeholder="Enter search term" id="search" type="text"
              class="gi-border-gray-950 gi-w-full gi-input-text" name="search_query" aria-label="Search the website">
          </div>
        </div>
        <button class="gi-btn gi-btn-primary gi-btn-regular gi-ml-1 gi-flex-none"> Search <span aria-label="Search"
            role="img" class="material-symbols-outlined gi-block"
            style="font-size: 24px; font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;"> search </span>
        </button>
      </div>
    </form>
  </div>
</header>

<main class="gi-prose gi-max-w-none">
  <div class="gi-layout-container">
    <div class="gi-layout-container-3-column">
      <div class="gi-layout-column-2-3">
        <h1>Basic Page Template</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris
          erat nisl, imperdiet a finibus vitae, iaculis quis mauris.
          Curabitur feugiat augue eu dui eleifend egestas. Quisque gravida
          nisl ut arcu efficitur, nec feugiat lacus posuere. Quisque
          convallis, tellus sit amet sodales sagittis, tellus metus
          venenatis eros, in vulputate velit dui ac nunc. Sed imperdiet
          ultrices sem at ultrices. Vestibulum leo neque, fringilla nec quam
          nec, sollicitudin gravida odio. Vestibulum lobortis risus metus,
          vel fringilla massa accumsan eget. Nunc gravida et metus non
          gravida. Morbi ipsum purus, interdum nec ornare eget, rhoncus ac
          turpis. Donec lectus nibh, venenatis ac lectus non, scelerisque
          ullamcorper velit. Integer nec rutrum purus. Nullam semper
          imperdiet bibendum. Nulla facilisi. Suspendisse vestibulum, nisi
          ac ornare sodales, arcu justo ultricies arcu, quis ultricies massa
          metus vel enim. Proin finibus justo sed lacus congue, vel auctor
          elit pellentesque.
        </p>

        <div>
          <div class="govie-form-group ">
            <legend class="govie-fieldset__legend govie-fieldset__legend--l">
              <h1 class="govie-fieldset__heading">Where do you live? (old local library)</h1>
            </legend>
            <div data-module="govie-radios" class="govie-radios govie-radios--large ">
              <div class="govie-radios__item">
                <input id="where-do-you-live-0" name="where-do-you-live" type="radio" value="england"
                  class="govie-radios__input">
                <label class="govie-label govie-radios__label" for="where-do-you-live-0">England</label>
              </div>
              <div class="govie-radios__item">
                <input id="where-do-you-live-1" name="where-do-you-live" type="radio" value="scotland"
                  class="govie-radios__input">
                <label class="govie-label govie-radios__label" for="where-do-you-live-1">Scotland</label>
              </div>
              <div class="govie-radios__item">
                <input id="where-do-you-live-2" name="where-do-you-live" type="radio" value="ireland"
                  class="govie-radios__input">
                <label class="govie-label govie-radios__label" for="where-do-you-live-2">Ireland</label>
              </div>
            </div>
          </div>

          <fieldset data-module="gieds-radios">
            <div class="gi-pb-3 gi-flex gi-flex-col gi-gap-1">
              <div><label class="gi-text-md gi-label gi-font-bold">Where do you live?(new global library)</label></div>
            </div>
            <div class="gi-input-group-container">
              <div class="gi-input-group-options-container">
                <div role="radiogroup" class="gi-input-group-options-stacked">
                  <div class="gi-input-radio-container"><input id="r0" class="gi-input-radio-large"
                      aria-required="false" type="radio" value="dublin" name="city"><label for="r0">Dublin</label>
                  </div>
                  <div class="gi-input-radio-container"><input id="r1" class="gi-input-radio-large"
                      aria-required="false" type="radio" value="cork" name="city"><label for="r1">Cork</label></div>
                  <div class="gi-input-radio-container"><input id="r2" class="gi-input-radio-large"
                      aria-required="false" type="radio" value="galway" name="city"><label for="r2">Galway</label>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
        </div>
      </div>
      <div class="gi-layout-column-1-3">
        <h3>On this page</h3>
        <ul class="gi-list gi-list-spaced">
          <li class="gi-span-xs">
            <a href="#" class="gi-link">Link 1</a>
          </li>
          <li class="gi-span-xs">
            <a href="#" class="gi-link">Link 2</a>
          </li>
          <li class="gi-span-xs">
            <a href="#" class="gi-link">Link 3</a>
          </li>
          <li class="gi-span-xs">
            <a href="#" class="gi-link">Link 4</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</main>

<footer class="gi-footer">
  <div class="gi-footer-container gi-layout-container custom-footer" data-testid="footer-complete">
    <div>
      <div class="gi-grid-responsive !gi-ml-0 !gi-mr-0">
        <div class="gi-col-span-4 md:gi-col-span-4 lg:gi-col-span-3">
          <h3 class="gi-heading-sm gi-mb-4">Services</h3>
          <hr class="gi-section-break-md gi-border-gray-100" role="separator">
          <ul class="gi-space-y-2">
            <li>
              <a href="#" class="gi-link gi-link-inherit">Public Services</a>
            </li>
            <li>
              <a href="#" class="gi-link gi-link-inherit">Business Services</a>
            </li>
            <li>
              <a href="#" class="gi-link gi-link-inherit">Online Services</a>
            </li>
          </ul>
        </div>
        <div class="gi-col-span-4 md:gi-col-span-4 lg:gi-col-span-3">
          <h3 class="gi-heading-sm gi-mb-4">Departments</h3>
          <hr class="gi-section-break-md gi-border-gray-100" role="separator">
          <ul class="gi-space-y-2">
            <li>
              <a href="#" class="gi-link gi-link-inherit">Department of Health</a>
            </li>
            <li>
              <a href="#" class="gi-link gi-link-inherit">Department of Education</a>
            </li>
            <li>
              <a href="#" class="gi-link gi-link-inherit">Department of Finance</a>
            </li>
          </ul>
        </div>
        <div class="gi-col-span-4 md:gi-col-span-4 lg:gi-col-span-3">
          <h3 class="gi-heading-sm gi-mb-4">Publications</h3>
          <hr class="gi-section-break-md gi-border-gray-100" role="separator">
          <ul class="gi-space-y-2">
            <li>
              <a href="#" class="gi-link gi-link-inherit">Reports</a>
            </li>
            <li>
              <a href="#" class="gi-link gi-link-inherit">Statistics</a>
            </li>
            <li>
              <a href="#" class="gi-link gi-link-inherit">Legislation</a>
            </li>
          </ul>
        </div>
        <div class="gi-col-span-4 md:gi-col-span-4 lg:gi-col-span-3">
          <h3 class="gi-heading-sm gi-mb-4">Contact</h3>
          <hr class="gi-section-break-md gi-border-gray-100" role="separator">
          <ul class="gi-space-y-2">
            <li>
              <a href="#" class="gi-link gi-link-inherit">Find an Office</a>
            </li>
            <li>
              <a href="#" class="gi-link gi-link-inherit">Phone Directory</a>
            </li>
            <li>
              <a href="#" class="gi-link gi-link-inherit">Feedback</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <hr class="gi-section-break-lg gi-border-gray-100" role="separator">
    <div class="gi-footer-secondary-slot">
      <div class="gi-footer-logo">
        <img class="gi-h-16"
          src="https://raw.githubusercontent.com/ogcio/govie-ds/refs/heads/main/assets/logos/gov-of-ireland/harp-gold-text-green.svg"
          alt="Footer logo">
      </div>
      <div class="gi-footer-secondary-slot-content">
        <div class="gi-flex gi-w-full gi-justify-start gi-items-start gi-flex-col gi-gap-4 gi-flex-nowrap">
          <div class="gi-flex gi-w-full gi-justify-start gi-items-start gi-flex-row gi-gap-4 gi-flex-wrap">
            <a href="#" class="gi-link gi-link-inherit">About Us</a>
            <a href="#" class="gi-link gi-link-inherit">Contact</a>
            <a href="#" class="gi-link gi-link-inherit">Sitemap</a>
            <a href="#" class="gi-link gi-link-inherit">Privacy Policy</a>
            <a href="#" class="gi-link gi-link-inherit">Terms of Service</a>
            <a href="#" class="gi-link gi-link-inherit">Careers</a>
            <a href="#" class="gi-link gi-link-inherit">Blog</a>
            <a href="#" class="gi-link gi-link-inherit">FAQ</a>
            <a href="#" class="gi-link gi-link-inherit">Support</a>
            <a href="#" class="gi-link gi-link-inherit">Press</a>
            <a href="#" class="gi-link gi-link-inherit">Partners</a>
            <a href="#" class="gi-link gi-link-inherit">Investors</a>
            <a href="#" class="gi-link gi-link-inherit">Events</a>
          </div>
          <div class="gi-flex gi-w-full gi-justify-start gi-items-start gi-flex-row gi-gap-4 gi-flex-wrap">
            <img alt="X logo"
              src="https://raw.githubusercontent.com/ogcio/govie-ds/refs/heads/main/assets/logos/social/X.svg">
            <img alt="Facebook logo"
              src="https://raw.githubusercontent.com/ogcio/govie-ds/refs/heads/main/assets/logos/social/Facebook.svg">
            <img alt="Bluesky logo"
              src="https://raw.githubusercontent.com/ogcio/govie-ds/refs/heads/main/assets/logos/social/Bluesky.svg">
            <img alt="Linkedin logo"
              src="https://raw.githubusercontent.com/ogcio/govie-ds/refs/heads/main/assets/logos/social/Linkedin.svg">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="gi-footer-utility">
    <div
      class="gi-flex gi-w-full gi-justify-center gi-items-center gi-flex-col xs:gi-flex-col md:gi-flex-row gi-gap-4 gi-flex-nowrap">
      <a href="#" data-testid="" class="gi-link gi-link-inherit">Privacy Policy</a>
      <a href="#" data-testid="" class="gi-link gi-link-inherit">Accessibility</a>
      <div class="gi-text-sm"> © 2025 Government of Ireland. </div>
    </div>
  </div>
</footer>
-->
<main style="padding: 24px; display: grid; gap: 16px">
  <govie-paragraph
    as="p"
    size="md"
    align="start"
    whitespace="normal"
    data-testid="paragraph"
  >
    Paragraph
  </govie-paragraph>

  <govie-button
    variant="primary"
    appearance="default"
    size="medium"
    data-testid="button"
    (customClick)="handleButtonClick('Primary')"
  >
    Primary
  </govie-button>
  <govie-button
    variant="secondary"
    appearance="default"
    size="medium"
    data-testid="button"
    (customClick)="handleButtonClick('Secondary')"
  >
    Primary
  </govie-button>
  <govie-button
    appearance="default"
    size="medium"
    data-testid="button"
    [className]="'ds-button'"
    variant="flat"
  >
    Flat
  </govie-button>

  <!-- It fires button children click - event bubbling -->
  <govie-box-button variant="flat" (click)="handleButtonClick('Box')">
    Box
  </govie-box-button>

  <!-- It fires button children click - button prevent event bubbling -->
  <govie-box-button variant="flat" (customClick)="handleButtonClick('Box')">
    Box 2
  </govie-box-button>
</main>

<router-outlet></router-outlet>
