@tailwind base;
@tailwind components;
@tailwind utilities;

.gieds-js .js\:gi-hidden {
  display: none;
}

.gieds-js .js\:gi-max-height {
  max-height: 0;
  opacity: 0;
}

/* Workaround solution for <https://github.com/storybookjs/storybook/issues/13612> */
.sb-show-main {
  transition: none !important; /* !important needed to counter inline style */
}
