.link {
  color: var(--govie-color-blue-700);
  text-decoration: underline;
  text-decoration-thickness: max(1px, 0.0625rem);
  text-underline-offset: 0.1em;

  &:hover {
    color: var(--govie-color-purple-700);
    text-decoration-thickness: max(3px, 0.1875rem, 0.12em);
    text-decoration-skip-ink: none;
  }

  &:focus {
    outline: 3px solid rgba(0, 0, 0, 0);
    background-color: var(--govie-color-yellow-400);
    box-shadow:
      0 -2px var(--govie-color-yellow-400),
      0 4px var(--govie-color-gray-900);
    text-decoration: none;
  }
}
