:root {
  --gieds-typography-xl-text-sm: var(--gieds-type-scale-text-200);
  --gieds-typography-xl-text-md: var(--gieds-type-scale-text-300);
  --gieds-typography-xl-text-lg: var(--gieds-type-scale-text-400);
  --gieds-typography-xl-heading-2xs: var(--gieds-type-scale-heading-bold-100);
  --gieds-typography-xl-heading-xs: var(--gieds-type-scale-heading-bold-200);
  --gieds-typography-xl-heading-sm: var(--gieds-type-scale-heading-bold-400);
  --gieds-typography-xl-heading-md: var(--gieds-type-scale-heading-bold-500);
  --gieds-typography-xl-heading-lg: var(--gieds-type-scale-heading-bold-700);
  --gieds-typography-xl-heading-xl: var(--gieds-type-scale-heading-bold-900);
  --gieds-typography-md-text-sm: var(--gieds-type-scale-text-200);
  --gieds-typography-md-text-md: var(--gieds-type-scale-text-300);
  --gieds-typography-md-text-lg: var(--gieds-type-scale-text-400);
  --gieds-typography-md-heading-2xs: var(--gieds-type-scale-heading-bold-100);
  --gieds-typography-md-heading-xs: var(--gieds-type-scale-heading-bold-200);
  --gieds-typography-md-heading-sm: var(--gieds-type-scale-heading-bold-300);
  --gieds-typography-md-heading-md: var(--gieds-type-scale-heading-bold-400);
  --gieds-typography-md-heading-lg: var(--gieds-type-scale-heading-bold-600);
  --gieds-typography-md-heading-xl: var(--gieds-type-scale-heading-bold-800);
  --gieds-typography-xs-text-sm: var(--gieds-type-scale-text-200);
  --gieds-typography-xs-text-md: var(--gieds-type-scale-text-300);
  --gieds-typography-xs-text-lg: var(--gieds-type-scale-text-400);
  --gieds-typography-xs-heading-2xs: var(--gieds-type-scale-heading-bold-100);
  --gieds-typography-xs-heading-xs: var(--gieds-type-scale-heading-bold-200);
  --gieds-typography-xs-heading-sm: var(--gieds-type-scale-heading-bold-300);
  --gieds-typography-xs-heading-md: var(--gieds-type-scale-heading-bold-300);
  --gieds-typography-xs-heading-lg: var(--gieds-type-scale-heading-bold-500);
  --gieds-typography-xs-heading-xl: var(--gieds-type-scale-heading-bold-700);
  --gieds-typography-default-text-sm: var(--gieds-type-scale-text-200);
  --gieds-typography-default-text-md: var(--gieds-type-scale-text-300);
  --gieds-typography-default-text-lg: var(--gieds-type-scale-text-400);
  --gieds-typography-default-heading-2xs: var(--gieds-type-scale-heading-bold-100);
  --gieds-typography-default-heading-xs: var(--gieds-type-scale-heading-bold-200);
  --gieds-typography-default-heading-sm: var(--gieds-type-scale-heading-bold-300);
  --gieds-typography-default-heading-md: var(--gieds-type-scale-heading-bold-300);
  --gieds-typography-default-heading-lg: var(--gieds-type-scale-heading-bold-500);
  --gieds-typography-default-heading-xl: var(--gieds-type-scale-heading-bold-700);
  --gieds-z-index-1000: 1000;
  --gieds-z-index-900: 900;
  --gieds-z-index-800: 800;
  --gieds-z-index-700: 700;
  --gieds-z-index-600: 600;
  --gieds-z-index-500: 500;
  --gieds-z-index-400: 400;
  --gieds-z-index-300: 300;
  --gieds-z-index-200: 200;
  --gieds-z-index-100: 100;
  --gieds-z-index-1: 1;
  --gieds-type-scale-text-500: var(--gieds-font-weight-400) var(--gieds-font-size-600)/var(--gieds-font-line-height-1000) var(--gieds-font-family-primary);
  --gieds-type-scale-text-400: var(--gieds-font-weight-400) var(--gieds-font-size-500)/var(--gieds-font-line-height-1000) var(--gieds-font-family-primary);
  --gieds-type-scale-text-300: var(--gieds-font-weight-400) var(--gieds-font-size-400)/var(--gieds-font-line-height-1000) var(--gieds-font-family-primary);
  --gieds-type-scale-text-200: var(--gieds-font-weight-400) var(--gieds-font-size-300)/var(--gieds-font-line-height-1000) var(--gieds-font-family-primary);
  --gieds-type-scale-text-100: var(--gieds-font-weight-400) var(--gieds-font-size-200)/var(--gieds-font-line-height-1000) var(--gieds-font-family-primary);
  --gieds-type-scale-heading-bold-1200: var(--gieds-font-weight-700) var(--gieds-font-size-1400)/var(--gieds-font-line-height-400) var(--gieds-font-family-primary);
  --gieds-type-scale-heading-bold-1100: var(--gieds-font-weight-700) var(--gieds-font-size-1300)/var(--gieds-font-line-height-400) var(--gieds-font-family-primary);
  --gieds-type-scale-heading-bold-1000: var(--gieds-font-weight-700) var(--gieds-font-size-1200)/var(--gieds-font-line-height-400) var(--gieds-font-family-primary);
  --gieds-type-scale-heading-bold-900: var(--gieds-font-weight-700) var(--gieds-font-size-1100)/var(--gieds-font-line-height-400) var(--gieds-font-family-primary);
  --gieds-type-scale-heading-bold-800: var(--gieds-font-weight-700) var(--gieds-font-size-1000)/var(--gieds-font-line-height-700) var(--gieds-font-family-primary);
  --gieds-type-scale-heading-bold-700: var(--gieds-font-weight-700) var(--gieds-font-size-900)/var(--gieds-font-line-height-700) var(--gieds-font-family-primary);
  --gieds-type-scale-heading-bold-600: var(--gieds-font-weight-700) var(--gieds-font-size-800)/var(--gieds-font-line-height-700) var(--gieds-font-family-primary);
  --gieds-type-scale-heading-bold-500: var(--gieds-font-weight-700) var(--gieds-font-size-700)/var(--gieds-font-line-height-700) var(--gieds-font-family-primary);
  --gieds-type-scale-heading-bold-400: var(--gieds-font-weight-700) var(--gieds-font-size-600)/var(--gieds-font-line-height-700) var(--gieds-font-family-primary);
  --gieds-type-scale-heading-bold-300: var(--gieds-font-weight-700) var(--gieds-font-size-500)/var(--gieds-font-line-height-1000) var(--gieds-font-family-primary);
  --gieds-type-scale-heading-bold-200: var(--gieds-font-weight-700) var(--gieds-font-size-400)/var(--gieds-font-line-height-1000) var(--gieds-font-family-primary);
  --gieds-type-scale-heading-bold-100: var(--gieds-font-weight-700) var(--gieds-font-size-300)/var(--gieds-font-line-height-1000) var(--gieds-font-family-primary);
  --gieds-type-scale-heading-regular-1200: var(--gieds-font-weight-400) var(--gieds-font-size-1400)/var(--gieds-font-line-height-400) var(--gieds-font-family-primary);
  --gieds-type-scale-heading-regular-1100: var(--gieds-font-weight-400) var(--gieds-font-size-1300)/var(--gieds-font-line-height-400) var(--gieds-font-family-primary);
  --gieds-type-scale-heading-regular-1000: var(--gieds-font-weight-400) var(--gieds-font-size-1200)/var(--gieds-font-line-height-400) var(--gieds-font-family-primary);
  --gieds-type-scale-heading-regular-900: var(--gieds-font-weight-400) var(--gieds-font-size-1100)/var(--gieds-font-line-height-400) var(--gieds-font-family-primary);
  --gieds-type-scale-heading-regular-800: var(--gieds-font-weight-400) var(--gieds-font-size-1000)/var(--gieds-font-line-height-700) var(--gieds-font-family-primary);
  --gieds-type-scale-heading-regular-700: var(--gieds-font-weight-400) var(--gieds-font-size-900)/var(--gieds-font-line-height-700) var(--gieds-font-family-primary);
  --gieds-type-scale-heading-regular-600: var(--gieds-font-weight-400) var(--gieds-font-size-800)/var(--gieds-font-line-height-700) var(--gieds-font-family-primary);
  --gieds-type-scale-heading-regular-500: var(--gieds-font-weight-400) var(--gieds-font-size-700)/var(--gieds-font-line-height-700) var(--gieds-font-family-primary);
  --gieds-type-scale-heading-regular-400: var(--gieds-font-weight-400) var(--gieds-font-size-600)/var(--gieds-font-line-height-700) var(--gieds-font-family-primary);
  --gieds-type-scale-heading-regular-300: var(--gieds-font-weight-400) var(--gieds-font-size-500)/var(--gieds-font-line-height-1000) var(--gieds-font-family-primary);
  --gieds-type-scale-heading-regular-200: var(--gieds-font-weight-400) var(--gieds-font-size-400)/var(--gieds-font-line-height-1000) var(--gieds-font-family-primary);
  --gieds-type-scale-heading-regular-100: var(--gieds-font-weight-400) var(--gieds-font-size-300)/var(--gieds-font-line-height-1000) var(--gieds-font-family-primary);
  --gieds-space-3-5: 14px;
  --gieds-space-2-5: 10px;
  --gieds-space-1-5: 6px;
  --gieds-space-0-5: 2px;
  --gieds-space-px: 1px;
  --gieds-space-96: 384px;
  --gieds-space-80: 320px;
  --gieds-space-72: 288px;
  --gieds-space-64: 256px;
  --gieds-space-60: 240px;
  --gieds-space-56: 224px;
  --gieds-space-52: 208px;
  --gieds-space-48: 192px;
  --gieds-space-44: 176px;
  --gieds-space-40: 160px;
  --gieds-space-36: 144px;
  --gieds-space-32: 128px;
  --gieds-space-28: 112px;
  --gieds-space-24: 96px;
  --gieds-space-20: 80px;
  --gieds-space-16: 64px;
  --gieds-space-14: 56px;
  --gieds-space-12: 48px;
  --gieds-space-11: 44px;
  --gieds-space-10: 40px;
  --gieds-space-9: 36px;
  --gieds-space-8: 32px;
  --gieds-space-7: 28px;
  --gieds-space-6: 24px;
  --gieds-space-5: 20px;
  --gieds-space-4: 16px;
  --gieds-space-3: 12px;
  --gieds-space-2: 8px;
  --gieds-space-1: 4px;
  --gieds-space-0: 0px;
  --gieds-size-xl: 48px;
  --gieds-size-lg: 32px;
  --gieds-size-md: 24px;
  --gieds-size-sm: 16px;
  --gieds-shadow-600: 0px 25px 50px -12px #00000040;
  --gieds-shadow-500: 0px 20px 25px -5px #0000001a;
  --gieds-shadow-400: 0px 10px 15px -3px #0000001a;
  --gieds-shadow-300: 0px 4px 6px -1px #0000001a;
  --gieds-shadow-200: 0px 1px 3px 0px #0000001a;
  --gieds-shadow-100: 0px 1px 2px 0px #0000000d;
  --gieds-screen-2xl: 1536px;
  --gieds-screen-xl: 1280px;
  --gieds-screen-lg: 1024px;
  --gieds-screen-md: 768px;
  --gieds-screen-sm: 640px;
  --gieds-screen-xs: 480px;
  --gieds-opacity-100: 1;
  --gieds-opacity-95: 0.95;
  --gieds-opacity-90: 0.9;
  --gieds-opacity-85: 0.85;
  --gieds-opacity-80: 0.8;
  --gieds-opacity-75: 0.75;
  --gieds-opacity-70: 0.7;
  --gieds-opacity-65: 0.65;
  --gieds-opacity-60: 0.6;
  --gieds-opacity-55: 0.55;
  --gieds-opacity-50: 0.5;
  --gieds-opacity-45: 0.45;
  --gieds-opacity-40: 0.4;
  --gieds-opacity-35: 0.35;
  --gieds-opacity-30: 0.3;
  --gieds-opacity-25: 0.25;
  --gieds-opacity-20: 0.2;
  --gieds-opacity-15: 0.15;
  --gieds-opacity-10: 0.1;
  --gieds-opacity-5: 0.05;
  --gieds-opacity-0: 0;
  --gieds-font-letter-spacing-900: 0.3em;
  --gieds-font-letter-spacing-800: 0.2em;
  --gieds-font-letter-spacing-700: 0.15em;
  --gieds-font-letter-spacing-600: 0.1em;
  --gieds-font-letter-spacing-500: 0.05em;
  --gieds-font-letter-spacing-400: 0.025em;
  --gieds-font-letter-spacing-300: 0em;
  --gieds-font-letter-spacing-200: -0.025em;
  --gieds-font-letter-spacing-100: -0.05em;
  --gieds-font-line-height-1300: 2;
  --gieds-font-line-height-1200: 1.6;
  --gieds-font-line-height-1100: 1.55;
  --gieds-font-line-height-1000: 1.5;
  --gieds-font-line-height-900: 1.4;
  --gieds-font-line-height-800: 1.3;
  --gieds-font-line-height-700: 1.25;
  --gieds-font-line-height-600: 1.2;
  --gieds-font-line-height-500: 1.15;
  --gieds-font-line-height-400: 1.125;
  --gieds-font-line-height-300: 1.1;
  --gieds-font-line-height-200: 1;
  --gieds-font-line-height-100: 0.825;
  --gieds-font-line-height-50: 0.75;
  --gieds-font-weight-900: 900;
  --gieds-font-weight-800: 800;
  --gieds-font-weight-700: 700;
  --gieds-font-weight-600: 600;
  --gieds-font-weight-500: 500;
  --gieds-font-weight-400: 400;
  --gieds-font-weight-300: 300;
  --gieds-font-weight-200: 200;
  --gieds-font-weight-100: 100;
  --gieds-font-size-1400: 5rem;
  --gieds-font-size-1300: 4rem;
  --gieds-font-size-1200: 3.5rem;
  --gieds-font-size-1100: 3rem;
  --gieds-font-size-1000: 2.5rem;
  --gieds-font-size-900: 2.25rem;
  --gieds-font-size-800: 2rem;
  --gieds-font-size-700: 1.75rem;
  --gieds-font-size-600: 1.5rem;
  --gieds-font-size-500: 1.25rem;
  --gieds-font-size-400: 1.125rem;
  --gieds-font-size-300: 1rem;
  --gieds-font-size-200: 0.875rem;
  --gieds-font-size-100: 0.75rem;
  --gieds-font-size-50: 0.5rem;
  --gieds-font-family-tertiary: ui-monospace, 'Cascadia Mono', 'Segoe UI Mono', consolas, 'Liberation Mono', monospace;
  --gieds-font-family-secondary: Lato, Arial, sans-serif;
  --gieds-font-family-primary: Lato, Arial, sans-serif;
  --gieds-color-gold-950: #261f00;
  --gieds-color-gold-900: #3f3308;
  --gieds-color-gold-800: #584915;
  --gieds-color-gold-700: #715f28;
  --gieds-color-gold-600: #8a7742;
  --gieds-color-gold-500: #a39161;
  --gieds-color-gold-400: #baa980;
  --gieds-color-gold-300: #d1c3a3;
  --gieds-color-gold-200: #e9dfcb;
  --gieds-color-gold-100: #f4edde;
  --gieds-color-gold-50: #fffbf2;
  --gieds-color-purple-950: #1e0d40;
  --gieds-color-purple-900: #331a68;
  --gieds-color-purple-800: #4c2c92;
  --gieds-color-purple-700: #5e37b2;
  --gieds-color-purple-600: #6f45cd;
  --gieds-color-purple-500: #7f56e1;
  --gieds-color-purple-400: #936def;
  --gieds-color-purple-300: #ac8ff8;
  --gieds-color-purple-200: #cfbffe;
  --gieds-color-purple-100: #e3daff;
  --gieds-color-purple-50: #f7f5ff;
  --gieds-color-emerald-950: #00241e;
  --gieds-color-emerald-900: #003630;
  --gieds-color-emerald-800: #004d44;
  --gieds-color-emerald-700: #006658;
  --gieds-color-emerald-600: #008971;
  --gieds-color-emerald-500: #00b089;
  --gieds-color-emerald-400: #19d39f;
  --gieds-color-emerald-300: #4aecb4;
  --gieds-color-emerald-200: #95fbd0;
  --gieds-color-emerald-100: #c2fde1;
  --gieds-color-emerald-50: #f0fff7;
  --gieds-color-green-950: #002413;
  --gieds-color-green-900: #003d21;
  --gieds-color-green-800: #00572f;
  --gieds-color-green-700: #00703c;
  --gieds-color-green-600: #008840;
  --gieds-color-green-500: #0ca044;
  --gieds-color-green-400: #23b84b;
  --gieds-color-green-300: #4dd05e;
  --gieds-color-green-200: #93e891;
  --gieds-color-green-100: #c5f3bf;
  --gieds-color-green-50: #f4fff1;
  --gieds-color-yellow-950: #1f150f;
  --gieds-color-yellow-900: #3e2919;
  --gieds-color-yellow-800: #67431e;
  --gieds-color-yellow-700: #99681f;
  --gieds-color-yellow-600: #c18c17;
  --gieds-color-yellow-500: #e3b30c;
  --gieds-color-yellow-400: #ffdd00;
  --gieds-color-yellow-300: #ffed44;
  --gieds-color-yellow-200: #fff985;
  --gieds-color-yellow-100: #fffac4;
  --gieds-color-yellow-50: #fffceb;
  --gieds-color-red-950: #290600;
  --gieds-color-red-900: #4c0b00;
  --gieds-color-red-800: #741201;
  --gieds-color-red-700: #9a1a04;
  --gieds-color-red-600: #bb250d;
  --gieds-color-red-500: #d4351c;
  --gieds-color-red-400: #e65038;
  --gieds-color-red-300: #f27764;
  --gieds-color-red-200: #faafa3;
  --gieds-color-red-100: #fdd1ca;
  --gieds-color-red-50: #fff4f2;
  --gieds-color-blue-950: #001030;
  --gieds-color-blue-900: #072155;
  --gieds-color-blue-800: #15387c;
  --gieds-color-blue-700: #2c55a2;
  --gieds-color-blue-600: #3668c0;
  --gieds-color-blue-500: #457cd8;
  --gieds-color-blue-400: #5c94e8;
  --gieds-color-blue-300: #80b2f4;
  --gieds-color-blue-200: #b6d6fb;
  --gieds-color-blue-100: #d4e8fd;
  --gieds-color-blue-50: #f2f9ff;
  --gieds-color-gray-950: #0b0c0c;
  --gieds-color-gray-900: #252526;
  --gieds-color-gray-800: #3a3c41;
  --gieds-color-gray-700: #51555e;
  --gieds-color-gray-600: #686d78;
  --gieds-color-gray-500: #828893;
  --gieds-color-gray-400: #a1a6af;
  --gieds-color-gray-300: #babec4;
  --gieds-color-gray-200: #d8dadf;
  --gieds-color-gray-100: #e9eaed;
  --gieds-color-gray-50: #f7f7f8;
  --gieds-border-radius-full: 9999px;
  --gieds-border-radius-600: 16px;
  --gieds-border-radius-500: 12px;
  --gieds-border-radius-400: 8px;
  --gieds-border-radius-300: 6px;
  --gieds-border-radius-200: 4px;
  --gieds-border-radius-100: 2px;
  --gieds-border-width-800: 16px;
  --gieds-border-width-700: 12px;
  --gieds-border-width-600: 8px;
  --gieds-border-width-500: 6px;
  --gieds-border-width-400: 4px;
  --gieds-border-width-300: 3px;
  --gieds-border-width-200: 2px;
  --gieds-border-width-100: 1px;
}

[data-theme="govie-dark"] {
  --gieds-typography-xl-text-sm: var(--gieds-type-scale-text-200);
  --gieds-typography-xl-text-md: var(--gieds-type-scale-text-300);
  --gieds-typography-xl-text-lg: var(--gieds-type-scale-text-400);
  --gieds-typography-xl-heading-2xs: var(--gieds-type-scale-heading-bold-100);
  --gieds-typography-xl-heading-xs: var(--gieds-type-scale-heading-bold-200);
  --gieds-typography-xl-heading-sm: var(--gieds-type-scale-heading-bold-400);
  --gieds-typography-xl-heading-md: var(--gieds-type-scale-heading-bold-500);
  --gieds-typography-xl-heading-lg: var(--gieds-type-scale-heading-bold-700);
  --gieds-typography-xl-heading-xl: var(--gieds-type-scale-heading-bold-900);
  --gieds-typography-md-text-sm: var(--gieds-type-scale-text-200);
  --gieds-typography-md-text-md: var(--gieds-type-scale-text-300);
  --gieds-typography-md-text-lg: var(--gieds-type-scale-text-400);
  --gieds-typography-md-heading-2xs: var(--gieds-type-scale-heading-bold-100);
  --gieds-typography-md-heading-xs: var(--gieds-type-scale-heading-bold-200);
  --gieds-typography-md-heading-sm: var(--gieds-type-scale-heading-bold-300);
  --gieds-typography-md-heading-md: var(--gieds-type-scale-heading-bold-400);
  --gieds-typography-md-heading-lg: var(--gieds-type-scale-heading-bold-600);
  --gieds-typography-md-heading-xl: var(--gieds-type-scale-heading-bold-800);
  --gieds-typography-xs-text-sm: var(--gieds-type-scale-text-200);
  --gieds-typography-xs-text-md: var(--gieds-type-scale-text-300);
  --gieds-typography-xs-text-lg: var(--gieds-type-scale-text-400);
  --gieds-typography-xs-heading-2xs: var(--gieds-type-scale-heading-bold-100);
  --gieds-typography-xs-heading-xs: var(--gieds-type-scale-heading-bold-200);
  --gieds-typography-xs-heading-sm: var(--gieds-type-scale-heading-bold-300);
  --gieds-typography-xs-heading-md: var(--gieds-type-scale-heading-bold-300);
  --gieds-typography-xs-heading-lg: var(--gieds-type-scale-heading-bold-500);
  --gieds-typography-xs-heading-xl: var(--gieds-type-scale-heading-bold-700);
  --gieds-typography-default-text-sm: var(--gieds-type-scale-text-200);
  --gieds-typography-default-text-md: var(--gieds-type-scale-text-300);
  --gieds-typography-default-text-lg: var(--gieds-type-scale-text-400);
  --gieds-typography-default-heading-2xs: var(--gieds-type-scale-heading-bold-100);
  --gieds-typography-default-heading-xs: var(--gieds-type-scale-heading-bold-200);
  --gieds-typography-default-heading-sm: var(--gieds-type-scale-heading-bold-300);
  --gieds-typography-default-heading-md: var(--gieds-type-scale-heading-bold-300);
  --gieds-typography-default-heading-lg: var(--gieds-type-scale-heading-bold-500);
  --gieds-typography-default-heading-xl: var(--gieds-type-scale-heading-bold-700);
  --gieds-z-index-1000: 1000;
  --gieds-z-index-900: 900;
  --gieds-z-index-800: 800;
  --gieds-z-index-700: 700;
  --gieds-z-index-600: 600;
  --gieds-z-index-500: 500;
  --gieds-z-index-400: 400;
  --gieds-z-index-300: 300;
  --gieds-z-index-200: 200;
  --gieds-z-index-100: 100;
  --gieds-z-index-1: 1;
  --gieds-type-scale-text-500: var(--gieds-font-weight-400) var(--gieds-font-size-600)/var(--gieds-font-line-height-1000) var(--gieds-font-family-primary);
  --gieds-type-scale-text-400: var(--gieds-font-weight-400) var(--gieds-font-size-500)/var(--gieds-font-line-height-1000) var(--gieds-font-family-primary);
  --gieds-type-scale-text-300: var(--gieds-font-weight-400) var(--gieds-font-size-400)/var(--gieds-font-line-height-1000) var(--gieds-font-family-primary);
  --gieds-type-scale-text-200: var(--gieds-font-weight-400) var(--gieds-font-size-300)/var(--gieds-font-line-height-1000) var(--gieds-font-family-primary);
  --gieds-type-scale-text-100: var(--gieds-font-weight-400) var(--gieds-font-size-200)/var(--gieds-font-line-height-1000) var(--gieds-font-family-primary);
  --gieds-type-scale-heading-bold-1200: var(--gieds-font-weight-700) var(--gieds-font-size-1400)/var(--gieds-font-line-height-400) var(--gieds-font-family-primary);
  --gieds-type-scale-heading-bold-1100: var(--gieds-font-weight-700) var(--gieds-font-size-1300)/var(--gieds-font-line-height-400) var(--gieds-font-family-primary);
  --gieds-type-scale-heading-bold-1000: var(--gieds-font-weight-700) var(--gieds-font-size-1200)/var(--gieds-font-line-height-400) var(--gieds-font-family-primary);
  --gieds-type-scale-heading-bold-900: var(--gieds-font-weight-700) var(--gieds-font-size-1100)/var(--gieds-font-line-height-400) var(--gieds-font-family-primary);
  --gieds-type-scale-heading-bold-800: var(--gieds-font-weight-700) var(--gieds-font-size-1000)/var(--gieds-font-line-height-700) var(--gieds-font-family-primary);
  --gieds-type-scale-heading-bold-700: var(--gieds-font-weight-700) var(--gieds-font-size-900)/var(--gieds-font-line-height-700) var(--gieds-font-family-primary);
  --gieds-type-scale-heading-bold-600: var(--gieds-font-weight-700) var(--gieds-font-size-800)/var(--gieds-font-line-height-700) var(--gieds-font-family-primary);
  --gieds-type-scale-heading-bold-500: var(--gieds-font-weight-700) var(--gieds-font-size-700)/var(--gieds-font-line-height-700) var(--gieds-font-family-primary);
  --gieds-type-scale-heading-bold-400: var(--gieds-font-weight-700) var(--gieds-font-size-600)/var(--gieds-font-line-height-700) var(--gieds-font-family-primary);
  --gieds-type-scale-heading-bold-300: var(--gieds-font-weight-700) var(--gieds-font-size-500)/var(--gieds-font-line-height-1000) var(--gieds-font-family-primary);
  --gieds-type-scale-heading-bold-200: var(--gieds-font-weight-700) var(--gieds-font-size-400)/var(--gieds-font-line-height-1000) var(--gieds-font-family-primary);
  --gieds-type-scale-heading-bold-100: var(--gieds-font-weight-700) var(--gieds-font-size-300)/var(--gieds-font-line-height-1000) var(--gieds-font-family-primary);
  --gieds-type-scale-heading-regular-1200: var(--gieds-font-weight-400) var(--gieds-font-size-1400)/var(--gieds-font-line-height-400) var(--gieds-font-family-primary);
  --gieds-type-scale-heading-regular-1100: var(--gieds-font-weight-400) var(--gieds-font-size-1300)/var(--gieds-font-line-height-400) var(--gieds-font-family-primary);
  --gieds-type-scale-heading-regular-1000: var(--gieds-font-weight-400) var(--gieds-font-size-1200)/var(--gieds-font-line-height-400) var(--gieds-font-family-primary);
  --gieds-type-scale-heading-regular-900: var(--gieds-font-weight-400) var(--gieds-font-size-1100)/var(--gieds-font-line-height-400) var(--gieds-font-family-primary);
  --gieds-type-scale-heading-regular-800: var(--gieds-font-weight-400) var(--gieds-font-size-1000)/var(--gieds-font-line-height-700) var(--gieds-font-family-primary);
  --gieds-type-scale-heading-regular-700: var(--gieds-font-weight-400) var(--gieds-font-size-900)/var(--gieds-font-line-height-700) var(--gieds-font-family-primary);
  --gieds-type-scale-heading-regular-600: var(--gieds-font-weight-400) var(--gieds-font-size-800)/var(--gieds-font-line-height-700) var(--gieds-font-family-primary);
  --gieds-type-scale-heading-regular-500: var(--gieds-font-weight-400) var(--gieds-font-size-700)/var(--gieds-font-line-height-700) var(--gieds-font-family-primary);
  --gieds-type-scale-heading-regular-400: var(--gieds-font-weight-400) var(--gieds-font-size-600)/var(--gieds-font-line-height-700) var(--gieds-font-family-primary);
  --gieds-type-scale-heading-regular-300: var(--gieds-font-weight-400) var(--gieds-font-size-500)/var(--gieds-font-line-height-1000) var(--gieds-font-family-primary);
  --gieds-type-scale-heading-regular-200: var(--gieds-font-weight-400) var(--gieds-font-size-400)/var(--gieds-font-line-height-1000) var(--gieds-font-family-primary);
  --gieds-type-scale-heading-regular-100: var(--gieds-font-weight-400) var(--gieds-font-size-300)/var(--gieds-font-line-height-1000) var(--gieds-font-family-primary);
  --gieds-space-3-5: 14px;
  --gieds-space-2-5: 10px;
  --gieds-space-1-5: 6px;
  --gieds-space-0-5: 2px;
  --gieds-space-px: 1px;
  --gieds-space-96: 384px;
  --gieds-space-80: 320px;
  --gieds-space-72: 288px;
  --gieds-space-64: 256px;
  --gieds-space-60: 240px;
  --gieds-space-56: 224px;
  --gieds-space-52: 208px;
  --gieds-space-48: 192px;
  --gieds-space-44: 176px;
  --gieds-space-40: 160px;
  --gieds-space-36: 144px;
  --gieds-space-32: 128px;
  --gieds-space-28: 112px;
  --gieds-space-24: 96px;
  --gieds-space-20: 80px;
  --gieds-space-16: 64px;
  --gieds-space-14: 56px;
  --gieds-space-12: 48px;
  --gieds-space-11: 44px;
  --gieds-space-10: 40px;
  --gieds-space-9: 36px;
  --gieds-space-8: 32px;
  --gieds-space-7: 28px;
  --gieds-space-6: 24px;
  --gieds-space-5: 20px;
  --gieds-space-4: 16px;
  --gieds-space-3: 12px;
  --gieds-space-2: 8px;
  --gieds-space-1: 4px;
  --gieds-space-0: 0px;
  --gieds-size-xl: 48px;
  --gieds-size-lg: 32px;
  --gieds-size-md: 24px;
  --gieds-size-sm: 16px;
  --gieds-shadow-600: 0px 25px 50px -12px #00000040;
  --gieds-shadow-500: 0px 20px 25px -5px #0000001a;
  --gieds-shadow-400: 0px 10px 15px -3px #0000001a;
  --gieds-shadow-300: 0px 4px 6px -1px #0000001a;
  --gieds-shadow-200: 0px 1px 3px 0px #0000001a;
  --gieds-shadow-100: 0px 1px 2px 0px #0000000d;
  --gieds-screen-2xl: 1536px;
  --gieds-screen-xl: 1280px;
  --gieds-screen-lg: 1024px;
  --gieds-screen-md: 768px;
  --gieds-screen-sm: 640px;
  --gieds-screen-xs: 480px;
  --gieds-opacity-100: 1;
  --gieds-opacity-95: 0.95;
  --gieds-opacity-90: 0.9;
  --gieds-opacity-85: 0.85;
  --gieds-opacity-80: 0.8;
  --gieds-opacity-75: 0.75;
  --gieds-opacity-70: 0.7;
  --gieds-opacity-65: 0.65;
  --gieds-opacity-60: 0.6;
  --gieds-opacity-55: 0.55;
  --gieds-opacity-50: 0.5;
  --gieds-opacity-45: 0.45;
  --gieds-opacity-40: 0.4;
  --gieds-opacity-35: 0.35;
  --gieds-opacity-30: 0.3;
  --gieds-opacity-25: 0.25;
  --gieds-opacity-20: 0.2;
  --gieds-opacity-15: 0.15;
  --gieds-opacity-10: 0.1;
  --gieds-opacity-5: 0.05;
  --gieds-opacity-0: 0;
  --gieds-font-letter-spacing-900: 0.3em;
  --gieds-font-letter-spacing-800: 0.2em;
  --gieds-font-letter-spacing-700: 0.15em;
  --gieds-font-letter-spacing-600: 0.1em;
  --gieds-font-letter-spacing-500: 0.05em;
  --gieds-font-letter-spacing-400: 0.025em;
  --gieds-font-letter-spacing-300: 0em;
  --gieds-font-letter-spacing-200: -0.025em;
  --gieds-font-letter-spacing-100: -0.05em;
  --gieds-font-line-height-1300: 2;
  --gieds-font-line-height-1200: 1.6;
  --gieds-font-line-height-1100: 1.55;
  --gieds-font-line-height-1000: 1.5;
  --gieds-font-line-height-900: 1.4;
  --gieds-font-line-height-800: 1.3;
  --gieds-font-line-height-700: 1.25;
  --gieds-font-line-height-600: 1.2;
  --gieds-font-line-height-500: 1.15;
  --gieds-font-line-height-400: 1.125;
  --gieds-font-line-height-300: 1.1;
  --gieds-font-line-height-200: 1;
  --gieds-font-line-height-100: 0.825;
  --gieds-font-line-height-50: 0.75;
  --gieds-font-weight-900: 900;
  --gieds-font-weight-800: 800;
  --gieds-font-weight-700: 700;
  --gieds-font-weight-600: 600;
  --gieds-font-weight-500: 500;
  --gieds-font-weight-400: 400;
  --gieds-font-weight-300: 300;
  --gieds-font-weight-200: 200;
  --gieds-font-weight-100: 100;
  --gieds-font-size-1400: 5rem;
  --gieds-font-size-1300: 4rem;
  --gieds-font-size-1200: 3.5rem;
  --gieds-font-size-1100: 3rem;
  --gieds-font-size-1000: 2.5rem;
  --gieds-font-size-900: 2.25rem;
  --gieds-font-size-800: 2rem;
  --gieds-font-size-700: 1.75rem;
  --gieds-font-size-600: 1.5rem;
  --gieds-font-size-500: 1.25rem;
  --gieds-font-size-400: 1.125rem;
  --gieds-font-size-300: 1rem;
  --gieds-font-size-200: 0.875rem;
  --gieds-font-size-100: 0.75rem;
  --gieds-font-size-50: 0.5rem;
  --gieds-font-family-tertiary: ui-monospace, 'Cascadia Mono', 'Segoe UI Mono', consolas, 'Liberation Mono', monospace;
  --gieds-font-family-secondary: Lato, Arial, sans-serif;
  --gieds-font-family-primary: Lato, Arial, sans-serif;
  --gieds-color-gold-950: #261f00;
  --gieds-color-gold-900: #3f3308;
  --gieds-color-gold-800: #584915;
  --gieds-color-gold-700: #715f28;
  --gieds-color-gold-600: #8a7742;
  --gieds-color-gold-500: #a39161;
  --gieds-color-gold-400: #baa980;
  --gieds-color-gold-300: #d1c3a3;
  --gieds-color-gold-200: #e9dfcb;
  --gieds-color-gold-100: #f4edde;
  --gieds-color-gold-50: #fffbf2;
  --gieds-color-purple-950: #1e0d40;
  --gieds-color-purple-900: #331a68;
  --gieds-color-purple-800: #4c2c92;
  --gieds-color-purple-700: #5e37b2;
  --gieds-color-purple-600: #6f45cd;
  --gieds-color-purple-500: #7f56e1;
  --gieds-color-purple-400: #936def;
  --gieds-color-purple-300: #ac8ff8;
  --gieds-color-purple-200: #cfbffe;
  --gieds-color-purple-100: #e3daff;
  --gieds-color-purple-50: #f7f5ff;
  --gieds-color-emerald-950: #00241e;
  --gieds-color-emerald-900: #003630;
  --gieds-color-emerald-800: #004d44;
  --gieds-color-emerald-700: #006658;
  --gieds-color-emerald-600: #008971;
  --gieds-color-emerald-500: #00b089;
  --gieds-color-emerald-400: #19d39f;
  --gieds-color-emerald-300: #4aecb4;
  --gieds-color-emerald-200: #95fbd0;
  --gieds-color-emerald-100: #c2fde1;
  --gieds-color-emerald-50: #f0fff7;
  --gieds-color-green-950: #002413;
  --gieds-color-green-900: #003d21;
  --gieds-color-green-800: #00572f;
  --gieds-color-green-700: #00703c;
  --gieds-color-green-600: #008840;
  --gieds-color-green-500: #0ca044;
  --gieds-color-green-400: #23b84b;
  --gieds-color-green-300: #4dd05e;
  --gieds-color-green-200: #93e891;
  --gieds-color-green-100: #c5f3bf;
  --gieds-color-green-50: #f4fff1;
  --gieds-color-yellow-950: #1f150f;
  --gieds-color-yellow-900: #3e2919;
  --gieds-color-yellow-800: #67431e;
  --gieds-color-yellow-700: #99681f;
  --gieds-color-yellow-600: #c18c17;
  --gieds-color-yellow-500: #e3b30c;
  --gieds-color-yellow-400: #ffdd00;
  --gieds-color-yellow-300: #ffed44;
  --gieds-color-yellow-200: #fff985;
  --gieds-color-yellow-100: #fffac4;
  --gieds-color-yellow-50: #fffceb;
  --gieds-color-red-950: #290600;
  --gieds-color-red-900: #4c0b00;
  --gieds-color-red-800: #741201;
  --gieds-color-red-700: #9a1a04;
  --gieds-color-red-600: #bb250d;
  --gieds-color-red-500: #d4351c;
  --gieds-color-red-400: #e65038;
  --gieds-color-red-300: #f27764;
  --gieds-color-red-200: #faafa3;
  --gieds-color-red-100: #fdd1ca;
  --gieds-color-red-50: #fff4f2;
  --gieds-color-blue-950: #001030;
  --gieds-color-blue-900: #072155;
  --gieds-color-blue-800: #15387c;
  --gieds-color-blue-700: #2c55a2;
  --gieds-color-blue-600: #3668c0;
  --gieds-color-blue-500: #457cd8;
  --gieds-color-blue-400: #5c94e8;
  --gieds-color-blue-300: #80b2f4;
  --gieds-color-blue-200: #b6d6fb;
  --gieds-color-blue-100: #d4e8fd;
  --gieds-color-blue-50: #f2f9ff;
  --gieds-color-gray-950: #0b0c0c;
  --gieds-color-gray-900: #252526;
  --gieds-color-gray-800: #3a3c41;
  --gieds-color-gray-700: #51555e;
  --gieds-color-gray-600: #686d78;
  --gieds-color-gray-500: #828893;
  --gieds-color-gray-400: #a1a6af;
  --gieds-color-gray-300: #babec4;
  --gieds-color-gray-200: #d8dadf;
  --gieds-color-gray-100: #e9eaed;
  --gieds-color-gray-50: #f7f7f8;
  --gieds-border-radius-full: 9999px;
  --gieds-border-radius-600: 16px;
  --gieds-border-radius-500: 12px;
  --gieds-border-radius-400: 8px;
  --gieds-border-radius-300: 6px;
  --gieds-border-radius-200: 4px;
  --gieds-border-radius-100: 2px;
  --gieds-border-width-800: 16px;
  --gieds-border-width-700: 12px;
  --gieds-border-width-600: 8px;
  --gieds-border-width-500: 6px;
  --gieds-border-width-400: 4px;
  --gieds-border-width-300: 3px;
  --gieds-border-width-200: 2px;
  --gieds-border-width-100: 1px;
}
