.paragraphSm {
  font: var(--gieds-typography-default-text-sm);

  @media (min-width: 768px) {
    font: var(--gieds-typography-xs-text-sm);
  }

  @media (min-width: 1024px) {
    font: var(--gieds-typography-md-text-sm);
  }

  @media (min-width: 1280px) {
    font: var(--gieds-typography-xl-text-sm);
  }
}

.paragraphMd {
  font: var(--gieds-typography-default-text-md);

  @media (min-width: 768px) {
    font: var(--gieds-typography-xs-text-md);
  }

  @media (min-width: 1024px) {
    font: var(--gieds-typography-md-text-md);
  }

  @media (min-width: 1280px) {
    font: var(--gieds-typography-xl-text-md);
  }
}

.paragraphLg {
  font: var(--gieds-typography-default-text-lg);

  @media (min-width: 768px) {
    font: var(--gieds-typography-xs-text-lg);
  }

  @media (min-width: 1024px) {
    font: var(--gieds-typography-md-text-lg);
  }

  @media (min-width: 1280px) {
    font: var(--gieds-typography-xl-text-lg);
  }
}
