.phaseBanner {
  display: flex;
  align-items: center;
  gap: var(--govie-space-2);
}

.pill {
  color: white;
  letter-spacing: var(--govie-font-letter-spacing-500);
  background-color: var(--govie-color-blue-600);
  border-radius: var(--govie-border-radius-200);
  padding-left: var(--govie-space-2);
  padding-right: var(--govie-space-2);
}
