@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Lato", sans-serif;
}

.markdown ul {
  list-style-type: disc;
  list-style-position: inside;
}

.markdown ol {
  list-style-type: decimal;
  list-style-position: inside;
}

.markdown ul ul,
ol ul {
  list-style-type: circle;
  list-style-position: inside;
  margin-left: 15px;
}

.markdown ol ol,
ul ol {
  list-style-type: lower-latin;
  list-style-position: inside;
  margin-left: 15px;
}

.markdown h1 {
  text-align: center;
  font-weight: 600;
  font-size: 1.25rem;
}

pre code.hljs {
  padding: 0;
}
