/* GOV.IE Components Stylesheets */

/* General focus classes */
.gi-focus-state-outline {
  @apply focus:gi-outline
  focus:gi-outline-[3px]
  focus:gi-outline-yellow-400
  focus:gi-outline-offset-0;
}

.gi-focus-within-state-outline {
  @apply focus-within:gi-outline
  focus-within:gi-outline-[3px]
  focus-within:gi-outline-yellow-400
  focus-within:gi-outline-offset-0;
}

.gi-focus-state-border {
  @apply focus:gi-border-solid focus:gi-border-gray-950 focus:gi-border-md;
}

.gi-focus-state-border-sm {
  @apply gi-focus-state-border focus:gi-border-sm;
}

.gi-focus-state-border-sm-rounded {
  @apply gi-focus-state-border-sm focus:gi-rounded-sm;
}
/* General focus classes */

/* Inputs focus state */
input[type='text'] {
  @apply gi-focus-state-outline gi-focus-state-border focus:gi-rounded-md;
}
/* Inputs focus state*/

/* Error state */
.gi-error-state {
  @apply gi-px-4 gi-border-solid gi-border-l-lg gi-border-red-600;
}

/* End of Error state */

/* General Input disable state */
.gi-input-disabled-state {
  @apply disabled:gi-bg-gray-200 disabled:gi-border-gray-400 disabled:gi-text-gray-700 disabled:gi-cursor-not-allowed;
}
/* General Input disable state */

/* Blockquote */
.gi-blockquote {
  @apply gi-my-6 gi-p-4 gi-border-l-2xl gi-border-gray-400 gi-text-sm md:gi-text-md;
}

/* End Blockquote */

/* Select */
.gi-select {
  @apply gi-rounded-sm gi-focus-state-outline gi-p-1.5 gi-border-black gi-border-[3px] gi-border-solid gi-min-w-56 gi-font-primary xs:gi-text-sm md:gi-text-md lg:gi-text-lg;
}
.gi-select-option {
  @apply gi-font-primary xs:gi-text-sm md:gi-text-md lg:gi-text-lg;
}

/* End of Select */

/* Text Input */

.gi-text-input-container {
  @apply gi-pt-2 gi-mb-4;
}
.gi-text-input-container-inner {
  @apply gi-flex gi-items-center;
}
.gi-text-input-prefix {
  @apply xs:gi-text-md gi-text-sm gi-leading-5 xs:!gi-leading-5 gi-bg-gray-50 gi-inline-block gi-flex-[0_0_auto] gi-text-center gi-whitespace-nowrap gi-cursor-default gi-px-2 gi-py-2 gi-border-l-sm gi-border-t-sm gi-border-b-sm gi-border-solid gi-border-gray-950 gi-min-w-10 gi-h-10;
}
.gi-text-input-suffix {
  @apply xs:gi-text-md gi-text-sm gi-leading-5 xs:!gi-leading-5 gi-bg-gray-50 gi-inline-block gi-flex-[0_0_auto] gi-text-center gi-whitespace-nowrap gi-cursor-default gi-px-2 gi-py-2 gi-border-r-sm gi-border-t-sm gi-border-b-sm gi-border-solid gi-border-gray-950 gi-min-w-10 gi-h-10;
}
.gi-text-input {
  @apply gi-rounded-sm gi-focus-state-outline gi-focus-state-border gi-flex-initial  gi-border-sm gi-border-solid gi-box-border gi-h-10 gi-mt-0 gi-p-1 gi-z-1 xs:gi-text-md gi-text-sm gi-leading-10 xs:!gi-leading-5 gi-input-disabled-state;
}

/* End of Text Input */

/* Hint Text */

.gi-hint-text-md {
  @apply gi-text-md gi-mb-2;
}
.gi-hint-text-sm {
  @apply gi-text-sm gi-mb-1.5;
}
.gi-hint-text-lg {
  @apply gi-text-lg gi-mb-2.5;
}
.gi-hint-text {
  @apply gi-font-normal gi-text-gray-600;
}

/* End of Hint Text */

/* Error Text */
.gi-error-text-md {
  @apply gi-text-md  gi-mb-3;
}
.gi-error-text-sm {
  @apply gi-text-sm  gi-mb-2.5;
}
.gi-error-text-lg {
  @apply gi-text-lg  gi-mb-3.5;
}
.gi-error-text {
  @apply gi-font-bold gi-text-red-600;
}

/* End of Error Text */

/* Phase banner */

.gi-phase-banner-container {
  @apply gi-flex gi-items-center gi-gap-2 gi-border-b-xs gi-py-2;
}
.gi-phase-banner {
  @apply gi-text-white gi-tracking-wider gi-bg-blue-600 gi-px-2 gi-rounded;
}

/* End of Phase banner */

/* Radio */

.gi-radio-group-container {
  @apply gi-flex;
}
.gi-radio-group-error {
  @apply gi-w-5 gi-border-l-[5px] gi-border-l-red-600 gi-border-solid;
}
.gi-radio-group-legend {
  @apply sm:gi-text-sm md:gi-text-md lg:gi-text-lg;
}
.gi-radio-group-options-container {
  @apply gi-flex gi-flex-col gi-gap-2.5;
}
.gi-radio-group-options-inline {
  @apply gi-flex gi-flex-row gi-gap-4;
}
.gi-radio-group-options-stacked {
  @apply gi-flex gi-flex-col gi-gap-2.5;
}
.gi-radio-group-options-divider-text {
  @apply gi-text-center xs:gi-text-sm md:gi-text-md lg:gi-text-lg;
}
.gi-radio-container {
  @apply gi-flex gi-flex-col;
}
.gi-radio-input-container {
  @apply gi-gap-4 gi-flex gi-items-center;
}
.gi-radio-label {
  @apply gi-cursor-pointer xs:gi-text-sm md:gi-text-md lg:gi-text-lg;
}
.gi-radio-conditional-divider-container {
  @apply gi-flex gi-gap-4;
}
.gi-radio-conditional-divider-border-container {
  @apply gi-h-full gi-flex gi-justify-center gi-mt-1.5;
}
.gi-radio-conditional-divider-border {
  @apply gi-h-full gi-w-1 gi-bg-gray-300;
}

/* End of Radio */

/* Label */

.gi-label {
  @apply gi-mb-1 gi-block;
}

/* End of Label */

/* File-upload */
.gi-file-upload-container {
  @apply gi-pt-2 gi-mb-4;
}
.gi-file-upload-input {
  @apply gi-rounded-sm xs:gi-text-md gi-text-sm gi-leading-10 xs:!gi-leading-5 gi-p-[3px] gi-max-w-[100%] gi-border-transparent gi-flex-initial gi-ml-[-5px] gi-border-sm gi-border-solid gi-box-border gi-focus-state-outline gi-focus-state-border gi-z-1;
}

/* End of File-upload */

/* Button */
.gi-btn {
  @apply gi-border-solid gi-border-sm gi-gap-2 gi-flex gi-rounded-sm gi-items-center gi-focus-state-outline gi-focus-state-border-sm-rounded;
}

/* Button Focus state */

.gi-btn-primary,
.gi-btn-primary-dark {
  @apply focus:gi-bg-emerald-900 focus:gi-shadow-[inset_0_0_0_2px] focus:gi-shadow-white;
}

.gi-btn-primary-dark,
.gi-btn-secondary-light,
.gi-btn-flat-light {
  @apply focus:gi-bg-gray-800;
}

.gi-btn-primary-light,
.gi-btn-secondary-dark,
.gi-btn-flat-dark {
  @apply focus:gi-bg-gray-200;
}

.gi-btn-secondary,
.gi-btn-flat {
  @apply focus:gi-bg-emerald-50;
}
/* Button Focus state*/

/* Button Primary */

.gi-btn-primary {
  @apply gi-border-transparent gi-text-white gi-bg-emerald-800 hover:gi-bg-emerald-900;
}

.gi-btn-primary-disabled {
  @apply gi-border-transparent gi-bg-gray-200 gi-text-gray-700 gi-pointer-events-none;
}

.gi-btn-primary-light {
  @apply gi-border-transparent gi-text-gray-950 gi-bg-white hover:gi-bg-gray-200;
}

.gi-btn-primary-light-disabled {
  @apply gi-border-transparent gi-bg-gray-800 gi-text-gray-400 gi-pointer-events-none;
}

.gi-btn-primary-dark {
  @apply gi-border-transparent gi-text-white gi-bg-gray-950 hover:gi-bg-gray-800;
}

.gi-btn-primary-dark-disabled {
  @apply gi-border-transparent gi-bg-gray-200 gi-text-gray-700 gi-pointer-events-none;
}

/* Button Secondary */

.gi-btn-secondary {
  @apply gi-border-emerald-800 gi-text-emerald-800 gi-border-emerald-800 hover:gi-bg-emerald-50;
}

.gi-btn-secondary-disabled {
  @apply gi-border-gray-400 gi-bg-gray-200 gi-text-gray-700 gi-pointer-events-none;
}

.gi-btn-secondary-light {
  @apply gi-text-white gi-border-white hover:gi-bg-gray-800;
}

.gi-btn-secondary-light-disabled {
  @apply gi-bg-gray-800 gi-border-gray-400 gi-text-gray-400 gi-pointer-events-none;
}

.gi-btn-secondary-dark {
  @apply gi-border-gray-950 hover:gi-bg-gray-200;
}

.gi-btn-secondary-dark-disabled {
  @apply gi-border-gray-400 gi-bg-gray-200 gi-text-gray-700 gi-pointer-events-none;
}

/* Button Flat */

.gi-btn-flat {
  @apply gi-border-transparent gi-text-emerald-800 hover:gi-bg-emerald-50;
}

.gi-btn-flat-disabled {
  @apply gi-border-transparent gi-text-gray-700 gi-pointer-events-none;
}

.gi-btn-flat-light {
  @apply gi-border-transparent gi-text-white hover:gi-bg-gray-800;
}

.gi-btn-flat-light-disabled {
  @apply gi-border-transparent gi-text-gray-400 gi-pointer-events-none;
}

.gi-btn-flat-dark {
  @apply gi-border-transparent gi-text-gray-950 hover:gi-bg-gray-200;
}

.gi-btn-flat-dark-disabled {
  @apply gi-border-transparent gi-text-gray-700 gi-pointer-events-none;
}

/* Button sizes */

.gi-btn-small {
  @apply gi-h-8 gi-px-2 gi-py-1.5 gi-text-xs;
}

.gi-btn-large {
  @apply gi-h-12 gi-px-4 gi-py-3 gi-text-2md;
}

.gi-btn-regular {
  @apply gi-h-10 gi-px-3 gi-py-2 gi-text-sm;
}

/* Icon Button sizes */
.gi-icon-btn-small {
  @apply gi-p-2 gi-h-8 gi-w-8 gi-justify-center;
}

.gi-icon-btn-large {
  @apply gi-p-3 gi-h-12 gi-w-12 gi-justify-center;
}

.gi-icon-btn-regular {
  @apply gi-p-3 gi-h-10 gi-w-10 gi-justify-center;
}
/* Tag */

.gi-tag {
  @apply gi-rounded-sm gi-border-xs gi-font-bold gi-leading-6 gi-py-0 gi-px-2 gi-inline-flex gi-justify-center gi-items-center;
}

.gi-tag-default {
  @apply gi-bg-gray-50 gi-border-gray-200 gi-text-gray-700;
}

.gi-tag-info {
  @apply gi-bg-blue-50 gi-border-blue-100 gi-text-blue-700;
}

.gi-tag-success {
  @apply gi-bg-green-50 gi-border-green-100 gi-text-green-700;
}

.gi-tag-warning {
  @apply gi-bg-yellow-50 gi-border-yellow-300 gi-text-yellow-700;
}

.gi-tag-error {
  @apply gi-bg-red-50 gi-border-red-100 gi-text-red-700;
}

.gi-tag-counter {
  @apply gi-bg-gray-950 gi-text-white;
}

.gi-tag-counter-warning {
  @apply gi-bg-red-600 gi-text-white gi-rounded-full;
}

/* End Tag */

/* Header */

.gi-header {
  @apply gi-relative gi-overflow-x-clip gi-bg-emerald-800 gi-w-full;
}
.gi-header-language-bar {
  @apply gi-hidden sm:gi-flex gi-bg-emerald-700 gi-h-10 gi-justify-end gi-items-center gi-gap-4 gi-pr-8;
}
.gi-header-language-item {
  @apply gi-border gi-border-solid gi-border-transparent focus-visible:gi-outline-offset-0 focus-visible:gi-outline-none focus-visible:gi-border focus-visible:gi-border-solid focus-visible:gi-border-yellow-400 focus:gi-border focus:gi-border-solid focus:gi-border-yellow-400 gi-block gi-text-white hover:gi-bg-black hover:gi-bg-opacity-20 gi-py-1 gi-px-2 gi-rounded-sm;
}
.gi-header-menu {
  @apply gi-h-20 gi-justify-between gi-items-center gi-flex gi-bg-emerald-800 gi-relative gi-py-3 gi-px-4 sm:gi-px-8 sm:gi-py-4;
}
.gi-header-logo-lg {
  @apply md:gi-block gi-hidden;
}
.gi-header-logo-sm {
  @apply md:gi-hidden gi-block;
}

.gi-header-logo-sm,
.gi-header-logo-lg {
  @apply gi-focus-state-outline gi-rounded-sm;
}

.gi-header-title {
  @apply gi-heading-sm gi-tracking-wider gi-text-white !gi-m-0 !gi-ml-4 md:!gi-ml-6 lg:!gi-ml-12 gi-grow;
}
.gi-header-tool-item {
  @apply gi-border gi-border-solid gi-border-transparent gi-text-white gi-flex gi-rounded-sm hover:gi-bg-black hover:gi-bg-opacity-20 gi-p-2 gi-items-center gi-gap-md gi-cursor-pointer;
}
.gi-header-tool-item span.label {
  @apply gi-hidden sm:gi-block gi-text-2md gi-font-bold gi-text-white;
}
.gi-header-nav {
  @apply gi-hidden sm:gi-flex gi-gap-4 gi-text-white;
}
.gi-header-nav a {
  @apply gi-border gi-border-solid gi-border-transparent gi-text-2md gi-font-bold gi-rounded-sm active:gi-underline active:gi-underline-offset-sm hover:gi-bg-black hover:gi-bg-opacity-20 gi-p-2;
}

/* Nav components focus state */
.gi-header-tool-item,
.gi-header-language-item,
.gi-header-nav a {
  @apply gi-focus-state-outline gi-focus-within-state-outline
   focus:gi-bg-black focus-within:gi-bg-black 
   focus:gi-bg-opacity-20 focus-within:gi-bg-opacity-20
   focus:gi-border focus-within:gi-border
   focus:gi-border-solid focus-within:gi-border-solid;
}

.gi-header-separator {
  @apply gi-hidden sm:gi-block gi-border-l-xs gi-border-solid gi-border-white gi-h-8 gi-mx-6;
}
.gi-header-overlay {
  @apply gi-top-0 gi-z-900 gi-pointer-events-none gi-hidden gi-w-full gi-h-full gi-bg-black gi-opacity-20;
}

#MenuContainer:has(#SearchTrigger:checked) ~ #SearchContainer {
  @apply gi-h-40;
}

#SearchTrigger:checked ~ .search-icon {
  @apply gi-hidden;
}

#SearchTrigger:checked ~ .close-icon {
  @apply gi-block;
}

#MenuContainer:has(#MobileMenuTrigger:checked) ~ #HeaderMenuContainer {
  transform: translateX(0);
}

#MenuContainer:has(#MobileMenuTrigger:checked) ~ #HeaderOverlayContainer {
  display: block;
  position: fixed;
}

#HeaderMenuContainer > ul > li > a {
  @apply gi-focus-state-outline focus:gi-shadow-[inset_0_0_0_2px] focus:gi-shadow-gray-950 focus:gi-rounded-sm;
}

/* End Header */

/* Tabs */

.gi-tabs {
  @apply gi-flex gi-flex-wrap;
}

.gi-tab-item {
  @apply gi-inline-block gi-cursor-pointer gi-px-5 gi-py-2 gi-relative gi-mr-1 gi-bg-gray-50 gi-text-center gi-text-md 
  gi-underline gi-text-gray-950 hover:gi-bg-gray-200 focus:gi-bg-gray-200
  gi-focus-state-outline focus:gi-shadow-[inset_0_0_0_2px] focus:gi-border-transparent;
}

.gi-tab-item-checked {
  @apply gi-border-solid gi-border-gray-200 gi-border-x-xs gi-border-t-xs gi-border-b-[1px]
   gi-border-b-transparent gi-bg-white gi-px-5 gi-py-3 gi--mt-2 gi-no-underline
   focus:gi-shadow-[inset_0_0_0_1px] 
   focus:gi-border-[1px]
   focus:gi-border-gray-950;
}

.gi-tab-item:hover > * {
  @apply gi-decoration-lg;
}

.gi-tab-panel {
  @apply gi-hidden gi-basis-full gi-border-xs gi-border-solid gi-border-gray-200 gi-bg-white gi-p-4 focus-visible:gi-outline-none;
}

/* End Tabs */

/* Input File */

input[type='file' i] {
  @apply gi-appearance-none gi-bg-[initial] gi-cursor-default gi-items-baseline gi-text-ellipsis gi-text-start gi-whitespace-pre;
}

/* End Input File */

/* Section Break */

.gi-section-break-sm {
  @apply gi-border-t-xs gi-border-gray-400 gi-m-0;
}

.gi-section-break-md {
  @apply gi-border-t-xs gi-border-gray-400 gi-my-4;
}

.gi-section-break-lg {
  @apply gi-border-t-xs gi-border-gray-400 gi-my-8;
}

.gi-section-break-xl {
  @apply gi-border-t-xs gi-border-gray-400 gi-my-12;
}

/* End Section Break */

/* Footer */

.gi-footer {
  @apply gi-bg-gold-50 gi-border-solid gi-border-t-xs gi-border-gold-500 gi-pt-3xl gi-pb-2xl;
}

.gi-footer div.footer-primary-nav-links {
  @apply gi-flex gi-items-center;
}

.gi-footer div.logo-container {
  @apply gi-ml-auto gi-w-fit;
}

.gi-footer div.footer-primary-nav-links ul {
  @apply gi-flex gi-gap-lg gi-grow;
}

.gi-footer div.footer-secondary-nav-links {
  @apply gi-grid sm:gi-grid-flow-col gi-grid-flow-row gi-gap-2xl;
}

.gi-footer div.footer-secondary-nav-links ul li {
  @apply gi-mb-xl;
}

.gi-footer a {
  @apply gi-underline gi-underline-offset-sm;
}

/* End Footer */

/* Modal */

.gi-modal {
  @apply gi-bg-[rgba(37,37,38,0.4)];
}

.gi-modal-open {
  @apply gi-fixed gi-w-full gi-h-full gi-left-0 gi-top-0 gi-z-1000;
}

.gi-modal-close {
  @apply gi-hidden;
}

.gi-modal-container {
  @apply gi-p-8 gi-bg-white gi-absolute gi-left-2/4 gi-top-2/4 gi--translate-x-2/4 gi--translate-y-2/4;
}

.gi-modal-icon {
  @apply gi-cursor-pointer gi-absolute gi-right-2 gi-top-2;
}

/* End Modal */
/* Radio */

.gi-radio-base {
  @apply gi-cursor-pointer gi-appearance-none gi-border-solid gi-border-[2px] gi-rounded-[50%] gi-border-black checked:before:gi-border-solid checked:before:gi-rounded-[50%] checked:before:gi-border-black checked:before:gi-block checked:before:gi-w-0 focus:gi-border-[4px] gi-focus-state-outline hover:gi-shadow-[0_0_0_4px_#d8dadf] hover:focus:gi-shadow-[0_0_0_6px_#d8dadf];
}
.gi-radio-small {
  @apply gi-radio-base gi-w-6 gi-h-6 checked:before:gi-border-[5px] checked:before:gi-translate-x-[5px] checked:before:gi-translate-y-[5px] focus:before:gi-translate-x-[3px] focus:before:gi-translate-y-[3px];
}
.gi-radio-medium {
  @apply gi-radio-base gi-w-8 gi-h-8 checked:before:gi-border-[7px] checked:before:gi-translate-x-[7px] checked:before:gi-translate-y-[7px] focus:before:gi-translate-x-[5px] focus:before:gi-translate-y-[5px];
}
.gi-radio-large {
  @apply gi-radio-base gi-w-11 gi-h-11 checked:before:gi-border-[10px] checked:before:gi-translate-x-[10px] checked:before:gi-translate-y-[10px] focus:before:gi-translate-x-[8px] focus:before:gi-translate-y-[8px];
}

/* End Radio */

/* Card */

.gi-card {
  @apply gi-flex gi-items-start gi-w-full gi-mt-2 gi-mb-3;
}

.gi-card-vertical {
  @apply gi-flex-col gi-max-w-[300px] gi-min-w-[220px] gi-w-full;
}

.gi-card-horizontal {
  @apply gi-min-w-[auto] gi-max-w-[768px];
}

.gi-card-header {
  @apply gi-flex gi-items-center gi-justify-between gi-w-full;
}

.gi-card-heading,
.gi-card-paragraph {
  @apply gi-flex gi-flex-col gi-mb-2;
}

.gi-card-paragraph {
  @apply gi-mb-4;
}

.gi-card-title {
  @apply gi-text-md gi-font-bold !gi-mb-2 gi-break-words gi-overflow-hidden gi-text-ellipsis gi-line-clamp-2 gi-max-w-[60ch];
}

.gi-card-subheading {
  @apply gi-text-gray-600 !gi-my-0 gi-text-sm gi-break-words gi-overflow-hidden gi-text-ellipsis gi-line-clamp-2 gi-max-w-[60ch];
}

.gi-card-paragraph p {
  @apply gi-break-words gi-overflow-hidden gi-text-ellipsis gi-line-clamp-2 gi-max-w-[60ch];
  /* Workaround solution */
  word-break: break-word;
}

.gi-card-image {
  @apply gi-flex gi-items-start gi-self-stretch gi-w-full gi-h-auto;
}

.gi-card-icon {
  @apply gi-flex gi-items-start gi-self-stretch gi-h-auto;
}

.gi-card-content {
  @apply gi-flex gi-flex-col gi-items-start gi-w-full;
}

.gi-card-tag {
  @apply gi-flex gi-self-start;
}

.gi-card-inset-body {
  @apply gi-p-4;
}

.gi-card-vertical.gi-card-inset-full,
.gi-card-horizontal.gi-card-inset-full,
.gi-card-vertical.gi-card-inset-none,
.gi-card-horizontal.gi-card-inset-none {
  @apply gi-gap-4;
}

.gi-card-vertical.gi-card-inset-body,
.gi-card-horizontal.gi-card-inset-body {
  @apply gi-p-0;
}

.gi-card-vertical.gi-card-inset-full,
.gi-card-horizontal.gi-card-inset-full {
  @apply gi-p-4;
}

/* End of Card */

/* Cookie Banner */

.gi-cookie-banner-container {
  @apply gi-bg-gray-100;
}

.gi-cookie-banner-buttons {
  @apply gi-flex gi-gap-4 gi-items-center gi-flex-col xs:gi-flex-row;
}

.gi-cookie-banner-buttons button {
  @apply gi-w-full gi-justify-center xs:gi-w-auto;
}

/* End of Cookie Banner */

/* TextArea */

.gi-textarea,
.gi-textarea-error {
  @apply gi-rounded-sm gi-focus-state-outline focus:gi-shadow-[inset_0_0_0_1px] focus:gi-border-gray-950 gi-flex-initial gi-border-sm gi-border-solid gi-box-border gi-p-1  xs:gi-text-md gi-text-sm gi-resize-y gi-min-h-10 gi-border-gray-950 gi-input-disabled-state;
}

.gi-textarea-layout-container {
  @apply gi-pt-2 gi-mb-4;
}

.gi-textarea-container {
  @apply gi-flex gi-items-center;
}

.gi-textarea-error {
  @apply gi-border-red-600;
}

.gi-textarea-remaining-chars {
  @apply gi-mt-2;
}
/* TextArea */

/* ComboBox */

.gi-combobox-container {
  @apply gi-max-w-[400px] gi-border-t;
}
.gi-combobox-toggle {
  @apply gi-border-t-transparent gi-border-t-sm gi-relative gi-z-1 hover:gi-bg-gray-200 gi-border-b gi-px-2 gi-py-4 gi-flex gi-justify-between gi-cursor-pointer gi-w-full gi-focus-state-outline gi-focus-state-border-sm-rounded focus:gi-bg-gray-200;
}
.gi-combobox-toggle-open {
  @apply gi-border-b-0;
}
.gi-combobox-toggle-content {
  @apply gi-flex gi-gap-2;
}
.gi-combobox-toggle-content > p {
  @apply gi-mb-0 gi-leading-[1.3];
}
.gi-combobox-dropdown-container-open {
  @apply gi-bg-gray-50 gi-relative gi-block gi-border-b;
}
.gi-combobox-search {
  @apply gi-py-4 gi-px-3 gi-relative;
}
.gi-combobox-search-input {
  @apply gi-pt-0 gi-pb-0 gi-mb-0;
}
.gi-combobox-search-input input {
  @apply gi-pl-3;
}
.gi-combobox-search-input input::placeholder {
  @apply gi-text-gray-600;
}
.gi-combobox-search-icon {
  @apply gi-absolute gi-right-4 gi-top-5 gi-z-100 gi-cursor-pointer;
}
.gi-combobox-checkbox-container {
  @apply gi-h-64 gi-overflow-y-auto gi-overflow-x-hidden gi-pt-2;
}
.gi-combobox-checkbox-container .gi-checkbox-container {
  @apply gi-items-center;
}
.gi-combobox-checkbox-paragraph {
  @apply gi-text-center gi-w-full !gi-max-w-none;
}
.gi-combobox-checkbox {
  @apply gi-px-3 hover:gi-bg-gray-200;
}
.gi-combobox-checkbox input {
  @apply gi-min-w-6;
}
.gi-combobox-checkbox label {
  @apply gi-w-full gi-py-2;
}

/* End of ComboBox */

/* Checkbox group */

.gi-checkbox-group-container {
  @apply gi-flex;
}
.gi-checkbox-group-error {
  @apply gi-w-4 gi-border-l-lg gi-border-l-red-600 gi-border-solid;
}
.gi-checkbox-group-title {
  @apply gi-mb-3.5 sm:gi-text-sm md:gi-text-md lg:gi-text-lg;
}
.gi-checkbox-group-checkboxes-container {
  @apply gi-flex gi-flex-col gi-gap-2.5;
}
.gi-checkbox-container {
  @apply gi-flex gi-items-start;
}
.gi-checkbox-input {
  @apply gi-rounded-sm focus:gi-shadow-[inset_0_0_0_1px] focus:gi-shadow-black gi-focus-state-outline gi-cursor-pointer gi-appearance-none gi-border-sm gi-border-solid gi-border-black checked:before:gi-block checked:before:gi--rotate-45 checked:before:gi-relative checked:before:gi-border-l-lg checked:before:gi-border-b-lg checked:before:gi-border-black gi-input-disabled-state;
}
.gi-checkbox-label {
  @apply gi-cursor-pointer gi-text-md gi-pl-4;
}

/* End of Checkbox */
/* Chip */
.gi-chip {
  @apply gi-flex gi-items-center gi-gap-1 gi-pl-1.5 gi-pr-1 gi-py-0.5 gi-bg-gray-100 gi-w-fit gi-rounded-sm gi-cursor-default gi-text-xs hover:gi-bg-gray-200 focus:gi-bg-gray-200 focus:gi-outline focus:gi-outline-gray-950 focus:gi-outline-[2px] focus:gi-shadow-[inset_0_0_0_1px_white,0_0_0_5px_var(--gieds-color-yellow-400)];
}
/* Chip */
