@layer utilities {
  .gi-grid-container {
    display: flex;
    flex-wrap: wrap;
    gap: var(--grid-gap, 0px);
  }

  .gi-grid-item {
    flex-basis: min(
      calc(
        var(--grid-span, 1) / var(--grid-parent-cols, 4) * 100% -
          var(--grid-parent-gap, 0px) *
          (var(--grid-parent-cols, 4) - var(--grid-span, 1)) /
          var(--grid-parent-cols, 4)
      ),
      100%
    );
    flex-shrink: 0;
  }

  .gi-grid-columns-1 > * {
    --grid-parent-cols: 1;
  }
  .gi-grid-columns-2 > * {
    --grid-parent-cols: 2;
  }
  .gi-grid-columns-3 > * {
    --grid-parent-cols: 3;
  }
  .gi-grid-columns-4 > * {
    --grid-parent-cols: 4;
  }
  .gi-grid-columns-5 > * {
    --grid-parent-cols: 5;
  }
  .gi-grid-columns-6 > * {
    --grid-parent-cols: 6;
  }
  .gi-grid-columns-7 > * {
    --grid-parent-cols: 7;
  }
  .gi-grid-columns-8 > * {
    --grid-parent-cols: 8;
  }
  .gi-grid-columns-9 > * {
    --grid-parent-cols: 9;
  }
  .gi-grid-columns-10 > * {
    --grid-parent-cols: 10;
  }
  .gi-grid-columns-11 > * {
    --grid-parent-cols: 11;
  }
  .gi-grid-columns-12 > * {
    --grid-parent-cols: 12;
  }

  .gi-grid-gap-0 {
    --grid-gap: var(--gieds-space-0);
  }
  .gi-grid-gap-0 > * {
    --grid-parent-gap: var(--gieds-space-0);
  }
  .gi-grid-gap-1 {
    --grid-gap: var(--gieds-space-1);
  }
  .gi-grid-gap-1 > * {
    --grid-parent-gap: var(--gieds-space-1);
  }
  .gi-grid-gap-2 {
    --grid-gap: var(--gieds-space-2);
  }
  .gi-grid-gap-2 > * {
    --grid-parent-gap: var(--gieds-space-2);
  }
  .gi-grid-gap-3 {
    --grid-gap: var(--gieds-space-3);
  }
  .gi-grid-gap-3 > * {
    --grid-parent-gap: var(--gieds-space-3);
  }
  .gi-grid-gap-4 {
    --grid-gap: var(--gieds-space-4);
  }
  .gi-grid-gap-4 > * {
    --grid-parent-gap: var(--gieds-space-4);
  }
  .gi-grid-gap-5 {
    --grid-gap: var(--gieds-space-5);
  }
  .gi-grid-gap-5 > * {
    --grid-parent-gap: var(--gieds-space-5);
  }
  .gi-grid-gap-6 {
    --grid-gap: var(--gieds-space-6);
  }
  .gi-grid-gap-6 > * {
    --grid-parent-gap: var(--gieds-space-6);
  }
  .gi-grid-gap-7 {
    --grid-gap: var(--gieds-space-7);
  }
  .gi-grid-gap-7 > * {
    --grid-parent-gap: var(--gieds-space-7);
  }
  .gi-grid-gap-8 {
    --grid-gap: var(--gieds-space-8);
  }
  .gi-grid-gap-8 > * {
    --grid-parent-gap: var(--gieds-space-8);
  }
  .gi-grid-gap-9 {
    --grid-gap: var(--gieds-space-9);
  }
  .gi-grid-gap-9 > * {
    --grid-parent-gap: var(--gieds-space-9);
  }
  .gi-grid-gap-10 {
    --grid-gap: var(--gieds-space-10);
  }
  .gi-grid-gap-10 > * {
    --grid-parent-gap: var(--gieds-space-10);
  }
  .gi-grid-gap-11 {
    --grid-gap: var(--gieds-space-11);
  }
  .gi-grid-gap-11 > * {
    --grid-parent-gap: var(--gieds-space-11);
  }
  .gi-grid-gap-12 {
    --grid-gap: var(--gieds-space-12);
  }
  .gi-grid-gap-12 > * {
    --grid-parent-gap: var(--gieds-space-12);
  }

  .gi-grid-span-1 {
    --grid-span: 1;
  }
  .gi-grid-span-2 {
    --grid-span: 2;
  }
  .gi-grid-span-3 {
    --grid-span: 3;
  }
  .gi-grid-span-4 {
    --grid-span: 4;
  }
  .gi-grid-span-5 {
    --grid-span: 5;
  }
  .gi-grid-span-6 {
    --grid-span: 6;
  }
  .gi-grid-span-7 {
    --grid-span: 7;
  }
  .gi-grid-span-8 {
    --grid-span: 8;
  }
  .gi-grid-span-9 {
    --grid-span: 9;
  }
  .gi-grid-span-10 {
    --grid-span: 10;
  }
  .gi-grid-span-11 {
    --grid-span: 11;
  }
  .gi-grid-span-12 {
    --grid-span: 12;
  }
}
