/* GOV.IE Layout Stylesheets */

/* Layout */

.gi-layout-container {
  @apply gi-w-full gi-max-w-[100vw] gi-px-4 md:gi-container md:gi-mx-auto;
}

.gi-layout-container-inset {
  @apply gi-w-full gi-max-w-[100vw] gi-container gi-mx-auto;
}

.gi-layout-container-inset[data-inset-top='none'] {
  @apply gi-pt-0;
}
.gi-layout-container-inset[data-inset-bottom='none'] {
  @apply gi-pt-0;
}

.gi-layout-container-inset[data-inset-top='md'] {
  @apply lg:gi-pt-8 md:gi-pt-6 gi-pt-4;
}
.gi-layout-container-inset[data-inset-bottom='md'] {
  @apply lg:gi-pb-8 md:gi-pb-6 gi-pb-4;
}

.gi-layout-container-inset[data-inset-top='lg'] {
  @apply lg:gi-pt-12 md:gi-pt-9 gi-pt-6;
}
.gi-layout-container-inset[data-inset-bottom='lg'] {
  @apply lg:gi-pb-12 md:gi-pb-9 gi-pb-6;
}

.gi-layout-container-inset[data-inset-top='xl'] {
  @apply lg:gi-pt-16 md:gi-pt-12 gi-pt-8;
}
.gi-layout-container-inset[data-inset-bottom='xl'] {
  @apply lg:gi-pb-16 md:gi-pb-12 gi-pb-8;
}

/* Similar to gi-container class but limited to max-width to 1280px */
.gi-layout-container-max-xl {
  @apply gi-w-full gi-max-w-[100vw] gi-px-6 lg:gi-px-8 gi-mx-auto sm:gi-max-w-[640px] md:gi-max-w-[768px] lg:gi-max-w-[1024px] xl:gi-max-w-[1280px] md:gi-mx-auto;
}

/* Similar to gi-container class but limited to max-width to 1024px */
.gi-layout-container-max-lg {
  @apply gi-w-full gi-max-w-[100vw] gi-px-6 lg:gi-px-8 gi-mx-auto sm:gi-max-w-[640px] md:gi-max-w-[768px] lg:gi-max-w-[1024px] md:gi-mx-auto;
}

.gi-layout-container-full-width {
  @apply gi-w-full gi-max-w-[100vw] gi-px-6 lg:gi-px-8 2xl:gi-max-w-screen-2xl 2xl:gi-mx-auto;
}

.gi-layout-container-3-column {
  @apply gi-grid gi-grid-cols-1 md:gi-grid-cols-3 gi-gap-4;
}

.gi-layout-column-2-3 {
  @apply gi-w-full md:gi-col-span-2;
}

.gi-layout-column-1-3 {
  @apply gi-w-full;
}

.gi-layout-container-2-column {
  @apply gi-grid gi-grid-cols-1 md:gi-grid-cols-2 gi-gap-4;
}

.gi-layout-column-1-2 {
  @apply gi-w-full md:gi-col-span-1;
}

/* End Layout */

/* Column Grid */

.gi-grid-12-column {
  @apply gi-mx-8 lg:gi-mx-8 gi-grid gi-grid-cols-12 gi-gap-6;
}

.gi-grid-8-column {
  @apply gi-mx-6 gi-grid gi-grid-cols-8 gi-gap-6;
}

.gi-grid-4-column {
  @apply gi-mx-4 gi-grid gi-grid-cols-4 gi-gap-4;
}

.gi-grid-responsive {
  @apply gi-mx-4 md:gi-mx-6 lg:gi-mx-8 gi-grid gi-grid-cols-4 md:gi-grid-cols-8 lg:gi-grid-cols-12 gi-gap-4 md:gi-gap-6 lg:gi-gap-6;
}

/* End of Column Grid */
