/* GOV.IE Typography Stylesheets */

.gi-heading-xl {
  font: var(--gieds-typography-default-heading-xl);
}

.gi-heading-lg {
  font: var(--gieds-typography-default-heading-lg);
}

.gi-heading-md {
  font: var(--gieds-typography-default-heading-md);
}

.gi-heading-sm {
  font: var(--gieds-typography-default-heading-sm);
}

.gi-heading-xs {
  font: var(--gieds-typography-default-heading-xs);
}

.gi-heading-2xs {
  font: var(--gieds-typography-default-heading-2xs);
}

/* End Paragraph */

/* Paragraph */

.gi-paragraph-lg,
.gi-paragraph-md,
.gi-paragraph-xs {
  @apply gi-max-w-prose;
}

.gi-paragraph-md,
.gi-span-md {
  font: var(--gieds-typography-default-text-md);
}

.gi-paragraph-lg,
.gi-span-lg {
  font: var(--gieds-typography-default-text-lg);
}

.gi-paragraph-sm,
.gi-span-sm {
  font: var(--gieds-typography-default-text-sm);
}

@media screen(sm) {
  .gi-heading-xl {
    font: var(--gieds-typography-xs-heading-xl);
  }

  .gi-heading-lg {
    font: var(--gieds-typography-xs-heading-lg);
  }

  .gi-heading-md {
    font: var(--gieds-typography-xs-heading-md);
  }

  .gi-heading-sm {
    font: var(--gieds-typography-xs-heading-sm);
  }

  .gi-heading-xs {
    font: var(--gieds-typography-xs-heading-xs);
  }

  .gi-heading-2xs {
    font: var(--gieds-typography-xs-heading-2xs);
  }

  .gi-paragraph-md,
  .gi-span-md {
    font: var(--gieds-typography-xs-text-md);
  }

  .gi-paragraph-lg,
  .gi-span-lg {
    font: var(--gieds-typography-xs-text-lg);
  }

  .gi-paragraph-sm,
  .gi-span-sm {
    font: var(--gieds-typography-xs-text-sm);
  }

  .gi-list,
  .gi-list-bullet,
  .gi-list-number {
    font: var(--gieds-typography-xs-text-md);
  }
}

@media screen(md) {
  .gi-heading-xl {
    font: var(--gieds-typography-md-heading-xl);
  }

  .gi-heading-lg {
    font: var(--gieds-typography-md-heading-lg);
  }

  .gi-heading-md {
    font: var(--gieds-typography-md-heading-md);
  }

  .gi-heading-sm {
    font: var(--gieds-typography-md-heading-sm);
  }

  .gi-heading-xs {
    font: var(--gieds-typography-md-heading-xs);
  }

  .gi-heading-2xs {
    font: var(--gieds-typography-md-heading-2xs);
  }

  .gi-paragraph-md,
  .gi-span-md {
    font: var(--gieds-typography-md-text-md);
  }

  .gi-paragraph-lg,
  .gi-span-lg {
    font: var(--gieds-typography-md-text-lg);
  }

  .gi-paragraph-sm,
  .gi-span-sm {
    font: var(--gieds-typography-md-text-sm);
  }

  .gi-list,
  .gi-list-bullet,
  .gi-list-number {
    font: var(--gieds-typography-md-text-md);
  }
}

@media screen(xl) {
  .gi-heading-xl {
    font: var(--gieds-typography-xl-heading-xl);
  }

  .gi-heading-lg {
    font: var(--gieds-typography-xl-heading-lg);
  }

  .gi-heading-md {
    font: var(--gieds-typography-xl-heading-md);
  }

  .gi-heading-sm {
    font: var(--gieds-typography-xl-heading-sm);
  }

  .gi-heading-xs {
    font: var(--gieds-typography-xl-heading-xs);
  }

  .gi-heading-2xs {
    font: var(--gieds-typography-xl-heading-2xs);
  }

  .gi-paragraph-md,
  .gi-span-md {
    font: var(--gieds-typography-xl-text-md);
  }

  .gi-paragraph-lg,
  .gi-span-lg {
    font: var(--gieds-typography-xl-text-lg);
  }

  .gi-paragraph-sm,
  .gi-span-sm {
    font: var(--gieds-typography-xl-text-sm);
  }

  .gi-list,
  .gi-list-bullet,
  .gi-list-number {
    font: var(--gieds-typography-xl-text-md);
  }
}

/* Link  */

.gi-link {
  @apply gi-decoration-xs gi-underline gi-underline-offset-[0.2em] gi-text-color-text-tone-convention-default gi-inline gi-relative gi-w-fit;
}

.gi-link:not([aria-current='page']) {
  @apply focus:gi-no-underline focus:gi-rounded-sm focus:gi-shadow-[0_0_0_2px_var(--gieds-color-gray-950),0_0_0_5px_var(--gieds-color-yellow-400)] focus-visible:gi-shadow-[0_0_0_2px_var(--gieds-color-gray-950),0_0_0_5px_var(--gieds-color-yellow-400)] focus-visible:gi-no-underline focus-visible:gi-rounded-sm focus-visible:gi-outline-none;
}
.gi-link:not([aria-current='page']):not(.gi-link-disabled) {
  @apply hover:gi-decoration-lg focus:gi-no-underline focus:gi-rounded-sm focus:gi-shadow-[0_0_0_2px_var(--gieds-color-gray-950),0_0_0_5px_var(--gieds-color-yellow-400)] focus-visible:gi-shadow-[0_0_0_2px_var(--gieds-color-gray-950),0_0_0_5px_var(--gieds-color-yellow-400)] focus-visible:gi-no-underline focus-visible:gi-rounded-sm focus-visible:gi-outline-none;
}

.gi-link:not(.gi-link-disabled)[aria-current='page'] {
  @apply gi-text-color-icon-tone-convention-disabled gi-pointer-events-none gi-no-underline focus-visible:gi-outline-none focus-visible:gi-shadow-none;
}

.gi-link:not(.gi-link-inherit):not(.gi-link-disabled):not(.gi-link-light) {
  @apply hover:gi-text-color-text-tone-convention-hover focus:gi-text-color-text-tone-convention-hover focus-visible:gi-text-color-text-tone-convention-hover;
}
.gi-link:not(.gi-link-inherit):not(.gi-link-disabled):not(.gi-link-light) {
  @apply visited:gi-text-color-icon-tone-convention-visited;
}

.gi-link-no-visited {
  @apply visited:gi-text-color-text-tone-convention-default;
}

.gi-link-no-underline {
  @apply hover:gi-underline gi-no-underline gi-underline-offset-[0.1em] focus:gi-no-underline;
}

.gi-link-icon {
  @apply gi-absolute;
}

.gi-link-icon[data-size='sm'] {
  @apply gi-top-1;
}
.gi-link-icon[data-size='md'] {
  @apply gi-top-[5.5px];
}
.gi-link-icon[data-size='lg'] {
  @apply gi-top-2;
}

.gi-link-icon-start {
  @apply gi-left-0;
}

.gi-link-icon-end {
  @apply gi-right-0;
}

.gi-link-inherit {
  @apply gi-text-inherit hover:gi-text-inherit;
}

.gi-link-disabled {
  @apply gi-text-color-icon-tone-convention-disabled gi-cursor-default focus:gi-text-color-icon-tone-convention-disabled  gi-pointer-events-none;
}

.gi-link-disabled[data-appearance='light'] {
  @apply gi-text-color-text-tone-light-disabled;
}

.gi-link-light {
  @apply focus:gi-text-white hover:gi-text-white gi-text-white;
}

/* End Link */

/* Start List */

.gi-list {
  @apply gi-list-none;
}

.gi-list-bullet {
  @apply gi-pl-5 gi-list-disc;
}

.gi-list-number {
  @apply gi-pl-4 gi-list-decimal;
}

.gi-list > li {
  @apply gi-mb-1;
}

.gi-list-bullet > li,
.gi-list-number > li {
  @apply gi-mb-0;
}

.gi-list-spaced > li {
  @apply gi-mb-4;
}

/* End List */

/*
Summary List
*/

.gi-summary-list {
  @apply gi-text-sm md:gi-w-full md:gi-table-fixed gi-antialiased md:gi-table md:gi-border-collapse;
}

.gi-summary-list > dl {
  @apply gi-w-full gi-mb-7 gi-mb-4 md:gi-table-row md:gi-text-md md:gi-mb-1;
}

.gi-summary-list > dl[data-border='true'] {
  @apply gi-border-b-gray-400 gi-border-b;
}

.gi-summary-list > dl > dt {
  @apply gi-py-2 gi-font-bold;
}

.gi-summary-list > dl > dd,
.gi-summary-list > dl > dl {
  @apply gi-block gi-mb-4 md:gi-pt-2 md:gi-pb-2 md:gi-m-0 md:gi-table-cell md:gi-text-md;
}

.gi-summary-list-value {
  @apply md:gi-break-words;
}

.gi-summary-list-actions {
  @apply md:gi-text-right;
}

/*
End of Summary List
*/

/*
Details
*/

.gi-details {
  @apply gi-block gi-text-md gi-text-gray-950;
}

.gi-details-summary {
  @apply gi-relative gi-mb-1 gi-cursor-pointer gi-text-blue-700 gi-w-fit focus-visible:gi-shadow-[0_-2px_var(--gieds-color-yellow-400),0_4px_var(--gieds-color-gray-950)] focus-visible:gi-bg-yellow-400 focus-visible:gi-text-gray-950 focus-visible:gi-decoration-none focus-visible:gi-outline focus-visible:gi-outline-[3px] focus-visible:gi-outline-transparent hover:gi-text-blue-800;
}

.gi-details-summary:focus-visible > .gi-details-summary-text {
  text-decoration: none;
}

.gi-details-summary:hover > .gi-details-summary-text {
  text-decoration-thickness: max(3px);
  text-decoration-skip-ink: none;
}

.gi-details-summary-text {
  @apply gi-underline gi-underline-offset-[0.1rem];
}

.gi-details-text {
  @apply gi-py-4 gi-pl-5 gi-border-l-[5px] gi-border-solid gi-border-l-gray-200;
}

/*
End of Details
*/
