/* GOV.IE Typography Stylesheets */

.gi-heading-xl {
  font: theme('typography.DEFAULT.css.h1.font');
  margin-top: 0.5em;
  margin-bottom: 1em;
}

.gi-heading-lg {
  font: theme('typography.DEFAULT.css.h2.font');
  margin-top: 0.5em;
  margin-bottom: 1em;
}

.gi-heading-md {
  font: theme('typography.DEFAULT.css.h3.font');
  margin-top: 0.5em;
  margin-bottom: 1em;
}

.gi-heading-sm {
  font: theme('typography.DEFAULT.css.h4.font');
  margin-top: 0.5em;
  margin-bottom: 1em;
}

.gi-heading-xs {
  font: theme('typography.DEFAULT.css.h5.font');
  margin-top: 0.5em;
  margin-bottom: 1em;
}

.gi-heading-2xs {
  font: theme('typography.DEFAULT.css.h6.font');
  margin-top: 0.5em;
  margin-bottom: 1em;
}

/* End Paragraph */

/* Paragraph */

.gi-paragraph-lg,
.gi-paragraph-md,
.gi-paragraph-xs {
  font: theme('typography.DEFAULT.css.p.font');
  margin-bottom: 2em;
  @apply gi-mt-0 gi-max-w-prose;
}

.gi-span-lg,
.gi-span-md,
.gi-span-xs {
  font: theme('typography.DEFAULT.css.p.font');
}

@media screen(sm) {
  .gi-heading-xl {
    font: theme('typography.xs.css.h1.font');
  }

  .gi-heading-lg {
    font: theme('typography.xs.css.h2.font');
  }

  .gi-heading-md {
    font: theme('typography.xs.css.h3.font');
  }

  .gi-heading-sm {
    font: theme('typography.xs.css.h4.font');
  }

  .gi-heading-xs {
    font: theme('typography.xs.css.h5.font');
  }

  .gi-heading-2xs {
    font: theme('typography.xs.css.h6.font');
  }

  .gi-paragraph-lg {
    font: theme('typography.xs.css.p.font');
  }

  .gi-paragraph-md,
  .gi-paragraph-xs,
  .gi-span-lg,
  .gi-span-md,
  .gi-span-xs,
  .gi-list,
  .gi-list-bullet,
  .gi-list-number {
    font: theme('typography.xs.css.p.font');
  }
}

@media screen(md) {
  .gi-heading-xl {
    font: theme('typography.md.css.h1.font');
  }

  .gi-heading-lg {
    font: theme('typography.md.css.h2.font');
  }

  .gi-heading-md {
    font: theme('typography.md.css.h3.font');
  }

  .gi-heading-sm {
    font: theme('typography.md.css.h4.font');
  }

  .gi-heading-xs {
    font: theme('typography.md.css.h5.font');
  }

  .gi-heading-2xs {
    font: theme('typography.md.css.h6.font');
  }

  .gi-paragraph-lg,
  .gi-paragraph-md,
  .gi-paragraph-xs,
  .gi-span-lg,
  .gi-span-md,
  .gi-span-xs,
  .gi-list,
  .gi-list-bullet,
  .gi-list-number {
    font: theme('typography.md.css.p.font');
  }
}

@media screen(xl) {
  .gi-heading-xl {
    font: theme('typography.xl.css.h1.font');
  }

  .gi-heading-lg {
    font: theme('typography.xl.css.h2.font');
  }

  .gi-heading-md {
    font: theme('typography.xl.css.h3.font');
  }

  .gi-heading-sm {
    font: theme('typography.xl.css.h4.font');
  }

  .gi-heading-xs {
    font: theme('typography.xl.css.h5.font');
  }

  .gi-heading-2xs {
    font: theme('typography.xl.css.h6.font');
  }

  .gi-paragraph-lg,
  .gi-paragraph-md,
  .gi-paragraph-xs,
  .gi-span-lg,
  .gi-span-md,
  .gi-span-xs,
  .gi-list,
  .gi-list-bullet,
  .gi-list-number {
    font: theme('typography.xl.css.p.font');
  }
}

/* Link  */

.gi-link {
  @apply gi-decoration-xs
  gi-underline
  gi-underline-offset-[0.2em]
  gi-text-blue-700
  hover:gi-text-blue-800
  visited:gi-text-purple-700
  hover:gi-decoration-lg
  focus:gi-no-underline
  focus:gi-rounded-sm
  focus:gi-text-blue-800
  focus:gi-shadow-[0_0_0_2px_var(--gieds-color-gray-950),0_0_0_5px_var(--gieds-color-yellow-400)]
  focus-visible:gi-shadow-[0_0_0_2px_var(--gieds-color-gray-950),0_0_0_5px_var(--gieds-color-yellow-400)]
  focus-visible:gi-text-blue-800
  focus-visible:gi-no-underline
  focus-visible:gi-rounded-sm
  focus-visible:gi-outline-none;
}

.gi-link-sm {
  @apply gi-text-sm;
}

.gi-link-md {
  @apply gi-text-2md;
}

.gi-link-inherit {
  @apply gi-text-inherit hover:gi-text-inherit;
}

.gi-link-no-visited {
  @apply visited:gi-text-blue-700;
}

.gi-link-no-underline {
  @apply gi-no-underline gi-underline-offset-[0.1em] focus:gi-no-underline;
}

/* End Link */

/* Start List */

.gi-list {
  @apply gi-list-none;
}

.gi-list-bullet {
  @apply gi-pl-4 gi-list-disc;
}

.gi-list-number {
  @apply gi-pl-4 gi-list-decimal;
}

.gi-list > li {
  @apply gi-mb-1;
}

.gi-list-bullet > li,
.gi-list-number > li {
  @apply gi-mb-0;
}

.gi-list-spaced > li {
  @apply gi-mb-4;
}

/* End List */

/*
Summary List
*/

.gi-summary-list {
  @apply gi-table gi-w-full gi-table-fixed gi-border-collapse gi-mb-8;
}

.gi-summary-list-row {
  @apply gi-border-b-gray-400 gi-border-b gi-table-row;
}

.gi-summary-list-key {
  @apply gi-w-[30%] gi-mb-1 gi-font-bold;
}

.gi-summary-list-key,
.gi-summary-list-value,
.gi-summary-list-actions {
  @apply gi-pt-2 gi-pr-5 gi-pb-2 gi-m-0 gi-table-cell;
}

.gi-summary-list-value {
  @apply gi-table-cell gi-break-words;
}

.gi-summary-list-actions {
  @apply gi-pr-0 gi-w-[20%] gi-text-right;
}

.gi-summary-list-value > p {
  @apply gi-mb-2;
}
/*
End of Summary List
*/
