/* GOV.IE Typography Stylesheets */

.gi-heading-xl {
  font: var(--gieds-typography-default-heading-xl);
}

.gi-heading-lg {
  font: var(--gieds-typography-default-heading-lg);
}

.gi-heading-md {
  font: var(--gieds-typography-default-heading-md);
}

.gi-heading-sm {
  font: var(--gieds-typography-default-heading-sm);
}

.gi-heading-xs {
  font: var(--gieds-typography-default-heading-xs);
}

.gi-heading-2xs {
  font: var(--gieds-typography-default-heading-2xs);
}

/* End Paragraph */

/* Paragraph */

.gi-paragraph-lg,
.gi-paragraph-md,
.gi-paragraph-xs {
  @apply gi:max-w-prose;
}

.gi-paragraph-md,
.gi-span-md {
  font: var(--gieds-typography-default-text-md);
}

.gi-paragraph-lg,
.gi-span-lg {
  font: var(--gieds-typography-default-text-lg);
}

.gi-paragraph-sm,
.gi-span-sm {
  font: var(--gieds-typography-default-text-sm);
}

@media screen(sm) {
  .gi-heading-xl {
    font: var(--gieds-typography-xs-heading-xl);
  }

  .gi-heading-lg {
    font: var(--gieds-typography-xs-heading-lg);
  }

  .gi-heading-md {
    font: var(--gieds-typography-xs-heading-md);
  }

  .gi-heading-sm {
    font: var(--gieds-typography-xs-heading-sm);
  }

  .gi-heading-xs {
    font: var(--gieds-typography-xs-heading-xs);
  }

  .gi-heading-2xs {
    font: var(--gieds-typography-xs-heading-2xs);
  }

  .gi-paragraph-md,
  .gi-span-md {
    font: var(--gieds-typography-xs-text-md);
  }

  .gi-paragraph-lg,
  .gi-span-lg {
    font: var(--gieds-typography-xs-text-lg);
  }

  .gi-paragraph-sm,
  .gi-span-sm {
    font: var(--gieds-typography-xs-text-sm);
  }

  .gi-list,
  .gi-list-bullet,
  .gi-list-number {
    font: var(--gieds-typography-xs-text-md);
  }
}

@media screen(md) {
  .gi-heading-xl {
    font: var(--gieds-typography-md-heading-xl);
  }

  .gi-heading-lg {
    font: var(--gieds-typography-md-heading-lg);
  }

  .gi-heading-md {
    font: var(--gieds-typography-md-heading-md);
  }

  .gi-heading-sm {
    font: var(--gieds-typography-md-heading-sm);
  }

  .gi-heading-xs {
    font: var(--gieds-typography-md-heading-xs);
  }

  .gi-heading-2xs {
    font: var(--gieds-typography-md-heading-2xs);
  }

  .gi-paragraph-md,
  .gi-span-md {
    font: var(--gieds-typography-md-text-md);
  }

  .gi-paragraph-lg,
  .gi-span-lg {
    font: var(--gieds-typography-md-text-lg);
  }

  .gi-paragraph-sm,
  .gi-span-sm {
    font: var(--gieds-typography-md-text-sm);
  }

  .gi-list,
  .gi-list-bullet,
  .gi-list-number {
    font: var(--gieds-typography-md-text-md);
  }
}

@media screen(xl) {
  .gi-heading-xl {
    font: var(--gieds-typography-xl-heading-xl);
  }

  .gi-heading-lg {
    font: var(--gieds-typography-xl-heading-lg);
  }

  .gi-heading-md {
    font: var(--gieds-typography-xl-heading-md);
  }

  .gi-heading-sm {
    font: var(--gieds-typography-xl-heading-sm);
  }

  .gi-heading-xs {
    font: var(--gieds-typography-xl-heading-xs);
  }

  .gi-heading-2xs {
    font: var(--gieds-typography-xl-heading-2xs);
  }

  .gi-paragraph-md,
  .gi-span-md {
    font: var(--gieds-typography-xl-text-md);
  }

  .gi-paragraph-lg,
  .gi-span-lg {
    font: var(--gieds-typography-xl-text-lg);
  }

  .gi-paragraph-sm,
  .gi-span-sm {
    font: var(--gieds-typography-xl-text-sm);
  }

  .gi-list,
  .gi-list-bullet,
  .gi-list-number {
    font: var(--gieds-typography-xl-text-md);
  }
}

/* Link  */

.gi-link {
  @apply gi:decoration-xs
  gi:underline
  gi:underline-offset-[0.2em]
  gi:text-blue-700 gi:inline-block;
}

.gi-link:not([aria-current='page']) {
  @apply gi:hover:decoration-lg
  gi:focus:no-underline
  gi:focus:rounded-sm
  gi:focus:shadow-[0_0_0_2px_var(--gieds-color-gray-950),0_0_0_5px_var(--gieds-color-yellow-400)]
  gi:focus-visible:shadow-[0_0_0_2px_var(--gieds-color-gray-950),0_0_0_5px_var(--gieds-color-yellow-400)]
  gi:focus-visible:no-underline
  gi:focus-visible:rounded-sm
  gi:focus-visible:outline-none;
}

.gi-link[aria-current='page'] {
  @apply gi:text-gray-700 gi:pointer-events-none gi:no-underline gi:focus-visible:outline-none gi:focus-visible:shadow-none;
}

.gi-link:not(.gi-link-inherit) {
  @apply gi:hover:text-blue-800 gi:visited:text-purple-700 gi:focus:text-blue-800 gi:focus-visible:text-blue-800;
}

.gi-link-sm {
  @apply gi:text-sm;
}

.gi-link-md {
  @apply gi:text-2md;
}

.gi-link-inherit {
  @apply gi:text-inherit gi:hover:text-inherit;
}

.gi-link-no-visited {
  @apply gi:visited:text-blue-700;
}
.gi-link-no-underline {
  @apply gi:no-underline gi:underline-offset-[0.1em] gi:focus:no-underline;
}

/* End Link */

/* Start List */

.gi-list {
  @apply gi:list-none;
}

.gi-list-bullet {
  @apply gi:pl-5 gi:list-disc;
}

.gi-list-number {
  @apply gi:pl-4 gi:list-decimal;
}

.gi-list > li {
  @apply gi:mb-1;
}

.gi-list-bullet > li,
.gi-list-number > li {
  @apply gi:mb-0;
}

.gi-list-spaced > li {
  @apply gi:mb-4;
}

/* End List */

/*
Summary List
*/

.gi-summary-list {
  @apply gi:text-sm gi:md:w-full gi:md:table-fixed gi:antialiased gi:md:table gi:md:border-collapse;
}

.gi-summary-list > dl {
  @apply gi:w-full gi:mb-7 gi:mb-4 gi:md:table-row gi:md:text-md gi:md:mb-1;
}

.gi-summary-list > dl[data-border='true'] {
  @apply gi:border-b-gray-400 gi:border-b;
}

.gi-summary-list > dl > dt {
  @apply gi:py-2 gi:font-bold;
}

.gi-summary-list > dl > dd,
.gi-summary-list > dl > dl {
  @apply gi:block gi:mb-4 gi:md:pt-2 gi:md:pb-2 gi:md:m-0 gi:md:table-cell gi:md:text-md;
}

.gi-summary-list-value {
  @apply gi:md:break-words;
}

.gi-summary-list-actions {
  @apply gi:md:text-right;
}

/*
End of:Summary List
*/

/*:Details
*/

.gi-details {
  @apply gi:block gi:text-md gi:text-gray-950;
}

.gi-details-summary {
  @apply gi:relative gi:mb-1 gi:cursor-pointer gi:text-blue-700 gi:w-fit gi:focus-visible:shadow-[0_-2px_var(--gieds-color-yellow-400),0_4px_var(--gieds-color-gray-950)] gi:focus-visible:bg-yellow-400 gi:focus-visible:text-gray-950 gi:focus-visible:decoration-none gi:focus-visible:outline gi:focus-visible:outline-[3px] gi:focus-visible:outline-transparent gi:hover:text-blue-800;
}

.gi-details-summary:focus-visible > .gi-details-summary-text {
  text-decoration: none;
}

.gi-details-summary:hover > .gi-details-summary-text {
  text-decoration-thickness: max(3px);
  text-decoration-skip-ink: none;
}

.gi-details-summary-text {
  @apply gi:underline gi:underline-offset-[0.1rem];
}

.gi-details-text {
  @apply gi:py-4 gi:pl-5 gi:border-l-[5px] gi:border-solid gi:border-l-gray-200;
}

/*
End of:Details
*/
