/* GOV.IE Typography Stylesheets */

.gi-heading-xl {
  font: var(--gieds-typography-default-heading-xl);
}

.gi-heading-lg {
  font: var(--gieds-typography-default-heading-lg);
}

.gi-heading-md {
  font: var(--gieds-typography-default-heading-md);
}

.gi-heading-sm {
  font: var(--gieds-typography-default-heading-sm);
}

.gi-heading-xs {
  font: var(--gieds-typography-default-heading-xs);
}

.gi-heading-2xs {
  font: var(--gieds-typography-default-heading-2xs);
}

/* End Paragraph */

/* Paragraph */

.gi-paragraph-lg,
.gi-paragraph-md,
.gi-paragraph-xs {
  @apply gi:max-w-prose;
}

.gi-paragraph-md,
.gi-span-md {
  font: var(--gieds-typography-default-text-md);
}

.gi-paragraph-lg,
.gi-span-lg {
  font: var(--gieds-typography-default-text-lg);
}

.gi-paragraph-sm,
.gi-span-sm {
  font: var(--gieds-typography-default-text-sm);
}

@media (min-width: 640px) {
  .gi-heading-xl {
    font: var(--gieds-typography-xs-heading-xl);
  }

  .gi-heading-lg {
    font: var(--gieds-typography-xs-heading-lg);
  }

  .gi-heading-md {
    font: var(--gieds-typography-xs-heading-md);
  }

  .gi-heading-sm {
    font: var(--gieds-typography-xs-heading-sm);
  }

  .gi-heading-xs {
    font: var(--gieds-typography-xs-heading-xs);
  }

  .gi-heading-2xs {
    font: var(--gieds-typography-xs-heading-2xs);
  }

  .gi-paragraph-md,
  .gi-span-md {
    font: var(--gieds-typography-xs-text-md);
  }

  .gi-paragraph-lg,
  .gi-span-lg {
    font: var(--gieds-typography-xs-text-lg);
  }

  .gi-paragraph-sm,
  .gi-span-sm {
    font: var(--gieds-typography-xs-text-sm);
  }

  .gi-list,
  .gi-list-bullet,
  .gi-list-number {
    font: var(--gieds-typography-xs-text-md);
  }
}

@media (min-width: 768px) {
  .gi-heading-xl {
    font: var(--gieds-typography-md-heading-xl);
  }

  .gi-heading-lg {
    font: var(--gieds-typography-md-heading-lg);
  }

  .gi-heading-md {
    font: var(--gieds-typography-md-heading-md);
  }

  .gi-heading-sm {
    font: var(--gieds-typography-md-heading-sm);
  }

  .gi-heading-xs {
    font: var(--gieds-typography-md-heading-xs);
  }

  .gi-heading-2xs {
    font: var(--gieds-typography-md-heading-2xs);
  }

  .gi-paragraph-md,
  .gi-span-md {
    font: var(--gieds-typography-md-text-md);
  }

  .gi-paragraph-lg,
  .gi-span-lg {
    font: var(--gieds-typography-md-text-lg);
  }

  .gi-paragraph-sm,
  .gi-span-sm {
    font: var(--gieds-typography-md-text-sm);
  }

  .gi-list,
  .gi-list-bullet,
  .gi-list-number {
    font: var(--gieds-typography-md-text-md);
  }
}

@media (min-width: 1280px) {
  .gi-heading-xl {
    font: var(--gieds-typography-xl-heading-xl);
  }

  .gi-heading-lg {
    font: var(--gieds-typography-xl-heading-lg);
  }

  .gi-heading-md {
    font: var(--gieds-typography-xl-heading-md);
  }

  .gi-heading-sm {
    font: var(--gieds-typography-xl-heading-sm);
  }

  .gi-heading-xs {
    font: var(--gieds-typography-xl-heading-xs);
  }

  .gi-heading-2xs {
    font: var(--gieds-typography-xl-heading-2xs);
  }

  .gi-paragraph-md,
  .gi-span-md {
    font: var(--gieds-typography-xl-text-md);
  }

  .gi-paragraph-lg,
  .gi-span-lg {
    font: var(--gieds-typography-xl-text-lg);
  }

  .gi-paragraph-sm,
  .gi-span-sm {
    font: var(--gieds-typography-xl-text-sm);
  }

  .gi-list,
  .gi-list-bullet,
  .gi-list-number {
    font: var(--gieds-typography-xl-text-md);
  }
}
