@import './components/placeholder.css';
@import './components/common.css';

@import './components/accordion.css';
@import './components/alert.css';
@import './components/icon-button.css';
@import './components/button.css';
@import './components/footer.css';
@import './components/section-break.css';
@import './components/link.css';

/*
@import './components/autocomplete.css';
@import './components/blockquote.css';
@import './components/breadcrumbs.css';
@import './components/card.css';
@import './components/input-checkbox.css';
@import './components/chip.css';
@import './components/combo-box.css';
@import './components/cookie-banner.css';
@import './components/data-table.css';
@import './components/details.css';
@import './components/drawer.css';
@import './components/error-text.css';
@import './components/input-file.css';
@import './components/header.css';
@import './components/hint-text.css';
@import './components/input-group.css';
@import './components/label.css';
@import './components/list.css';
@import './components/list-item.css';
@import './components/modal.css';
@import './components/pagination.css';
@import './components/phase-banner.css';
@import './components/progress-bar.css';
@import './components/progress-stepper.css';
@import './components/popover.css';
@import './components/input-radio.css';
@import './components/select.css';
@import './components/score-select.css';
@import './components/side-nav.css';
@import './components/summary-list.css';
@import './components/table.css';
@import './components/tabs.css';
@import './components/tag.css';
@import './components/text-area.css';
@import './components/input-text.css';
@import './components/toast.css';
@import './components/tootlip.css';*/

@layer base {
  html {
    @apply gi:text-gray-950 gi:font-primary;
  }

  *,
  ::before,
  ::after,
  ::backdrop,
  ::file-selector-button {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: var(--gieds-color-gray-200);
  }

  button:not(:disabled),
  [role='button']:not(:disabled):not([aria-disabled='true']) {
    cursor: pointer;
  }
}
