{% from 'header/header.html' import govieHeader %}
{% from 'link/link.html' import govieLink %}
{% from 'file-upload/file-upload.html' import govieFileUpload %}
{% from 'footer/footer.html' import govieFooter %}
{% from 'heading/heading.html' import govieHeading %}
{% from 'paragraph/paragraph.html' import govieParagraph %}
{% from 'container/container.html' import govieContainer %}
{% from 'select/select.html' import govieSelect %}
{% from 'text-input/text-input.html' import govieTextInput %}
{% from 'textarea/textarea.html' import govieTextArea %}
{% from 'tabs/tabs.html' import govieTabs %}
{% from 'button/button.html' import govieButton %}
{% from 'icon/icon.html' import govieIcon %}
{% from 'tag/tag.html' import govieTag %}
{% from 'radio/radios-group.html' import govieRadiosGroup %}
{% from 'radio/radio.html' import govieRadio %}
{% from 'modal/modal.html' import govieModal %}
{% from 'icon-button/icon-button.html' import govieIconButton %}
{% from 'cookie-banner/cookie-banner.html' import govieCookieBanner %}
{% from 'combo-box/combo-box.html' import govieComboBox %}
{% from 'alert/alert.html' import govieAlert %}
{% from 'toast/toast.html' import govieToast %}
{% from 'breadcrumbs/breadcrumbs.html' import govieBreadcrumbs %}
{% from 'summary-list/summary-list.html' import govieSummaryList %}
{% from 'list/list.html' import govieList %}
{% from 'pagination/pagination.html' import goviePagination %}
{% from 'progress-bar/progress-bar.html' import govieProgressBar%}

{% from 'vars.jinja' import comboBoxProps, cookieBannerProps, modalProps, footerProps, HeaderProps, SelectProps, tabsProps, radioProps, listProps %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ static('css/theme.css') }}">
  <link rel="stylesheet" href="{{ static('css/styles.css') }}">
  <link rel="stylesheet" href="{{ static('css/ogcio-ds-0.4.4.min.css') }}">
</head>

<body>
  <h2>Header (Global)</h2>
  {{ govieHeader(HeaderProps) }}

  <h2>Header (Local)</h2>
  <header data-module="govie-header" class="govie-header">
    <h2>Application Title</h2>
  </header>

  <hr />

  {{ govieHeading({ 'size': 'xl', 'as': 'h1', 'text': 'Heading' }) }}

  <hr />

  <h2>Breadcrumbs</h2>
    {{ govieBreadcrumbs({ "navItems": [
        { "label": "Home", "href": "/" },
        { "ellipsis": true },
        { "label": "Travel", "href": "/travel" },
        { "label": "Documentation", "href": "/docs", "currentPage": true }
    ]}) }}
  <br />

  <hr />

  {{ govieCookieBanner(cookieBannerProps) }}

  <h2>Paragraph (Global)</h2>
  {% set paragraphContentWithLink = govieLink({ "href": "#", "label": "with Link", }) %}
  {% set paragraphContent = "This is the paragraph content " ~ paragraphContentWithLink %}
  {{ govieParagraph({
    "content": paragraphContent,
    "as": "p",
    "size": "lg"
  }) }}
  
  <h2>Paragraph (Local)</h2>
  <p class="govie-body">We have sent you a confirmation email.</p>

  <hr />
  <h2>Container (Global)</h2>
  {{ govieContainer({
    "html": govieHeading({ 'size': 'md', 'as': 'h1', 'text': 'Heading Under Container' })
  }) }}

  <hr />

  <h2>Link (Global)</h2>
  {{ govieLink({
    "href": "#",
    "label": "Link for testing",
  }) }}
  
  <h2>Link (Local)</h2>
  <a class="govie-link" href="#">Link for testing</a>

  <hr />

  <h2>Typography - Tags</h2>
  {{ govieTag({
    "text": "Completed",
    "type": "info"
  }) }}

  <hr />
  <h2>Form - Select (Global)</h2>
  {{ govieSelect(SelectProps) }}

  <hr />
  <h2>Tabs (Local)</h2>
  <div class="govie-tabs" data-module="govie-tabs">
    <h2 class="govie-tabs__title">Contents</h2>
    <ul class="govie-tabs__list">
      <li class="govie-tabs__list-item govie-tabs__list-item--selected">
        <a class="govie-tabs__tab" href="#tab-1">Tab 1</a>
      </li>
      <li class="govie-tabs__list-item ">
        <a class="govie-tabs__tab" href="#tab-2">Tab 2</a>
      </li>
    </ul>
    <div class="govie-tabs__panel " id="tab-1">
      <h2 class="govie-heading-s">Tab 1 content</h2>
    </div>
    <div class="govie-tabs__panel govie-tabs__panel--hidden" id="tab-2">
      <h2 class="govie-heading-s">Tab 2 content</h2>
    </div>
  </div>

  <h2 id="tabs-label">Tabs (Global)</h2>
  {{ govieTabs(tabsProps) }}

  <hr />

  <h2>Form - Text Input</h2>
  {{ govieTextInput({
    "label": {
      "content": "Label",
      "for": "error-input"
    },
    "hint": {
      "content": "Hint"
    },
    "error": {
      "content": "Error"
    },
    "fullFluid": true,
    "id": "error-input",
    "prefix": "KG",
    "suffix": "per item"
  }) }}

  <hr />

  <h2>Form - TextArea</h2>
  {{ govieTextArea({
    "label": {
      "content": "Textarea Label",
      "for": "textarea-id"
    },
    "hint": {
      "content": "Hint text for textarea"
    },
    "error": {
      "content": "Error message for textarea"
    },
    "maxChars": 30,
    "rows": 4,
    "cols": 100,
    "id": "textarea-id"
  }) }}

  <hr />

  <h2>Form - File Upload</h2>
  {{ govieFileUpload({
    "id": "file-upload-id",
    "label": {
      "content": "Upload File",
      "for": "file-upload-id"
    },
    "error": {
      "content": "Error: File must be smaller than 5MB."
    }
  }) }}

  <h2>ComboBox</h2>

  {{ govieComboBox(comboBoxProps) }}

  <h2>Button</h2>

  {{ govieButton({
    "content": 'Primary Button',
  }) }}

  <h2>Radio Group Component</h2>

  {{ govieRadiosGroup(radioProps) }}

  <h2>Radio</h2>

  {{ govieRadio({
    "value": "Radio",
    "label": 'This is a single Radio Component'
  }) }}

  <h2>Modal</h2>

  {{ govieModal(modalProps) }}

  <h2>Toast with Trigger</h2>

  {{ govieToast({
    "title": "Toast Triggered",
    "description": "This is some content",
    "trigger": {
      "content": "Trigger Toast"
    }
  }) }}

  {{ govieToast({
    "title": "Success",
    "description": "This is a success toast",
    "variant": "success"
  }) }}

  <h2>Icon Button</h2>

  {{govieIconButton({
    "icon": {
      "icon": "thumb_up"
    }
  })}}

  <h2>Alert</h2>
  {{ govieAlert({
    "title": "Info Alert",
    "children": "<div>Content</div>"
  }) }}

  <h2>Summary List</h2>
  <br />
      {{ govieSummaryList(
          { "rows": [
            { "label": "Name", "value": "John Smith", "action": { "href": "/change-name", "label": "Change name" } },
            { "label": "Date of Birth", "value": "8 November 1982", "action": { "href": "/change-dob", "label": "Change date of birth" } },
            { "label": "Address", "value": "72 Guild Street <br/> London <br/> SE23 6FH", "action": { "href": "/change-address", "label": "Change address" } 
          }]})
      }} 
  <br />
  <h2>Pagination</h2>
  {{ goviePagination({'totalPages': 10, 'currentPage': 5}) }}
  
  <h2>List</h2>
  {{ govieList({
    "items": [
      "Item 1",
      "Item 2",
      "Item 3"
    ]
  }) }}


  <h2>Progress bar</h2>
  {{ govieProgressBar({"label": "Loading...", "size": "md", "color": "green", "currentValue": 50 }) }}
  
  <h2>Footer (Local)</h2>
  <footer class="govie-footer"></footer>
  <h2>Footer (Global)</h2>
  {{ govieFooter(footerProps) }}

  <script src="{{ static('js/govie-frontend.umd.js') }}"></script>
</body>

</html>