{% from 'govie/header/macro.html' import govieHeader %}
{% from 'govie/heading/macro.html' import govieHeading %}
{% from 'govie/link/macro.html' import govieLink %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ static('css/theme.css') }}">
    <link rel="stylesheet" href="{{ static('css/styles.css') }}">
    <link rel="stylesheet" href="{{ static('css/ogcio-ds-0.4.4.min.css')}}">
</head>

<body>
    <h2>Header (Global)</h2>
    {{ govieHeader({ 'title': 'Application title' }) }}
    <h2>Header (Local)</h2>
    <header data-module="govie-header" class="govie-header">
        <h2>Application Title</h2>
    </header>

    {{ govieHeading({ 'size': 'xl', 'tag': 'h1', 'text': 'Heading'}) }}
    <h2>Link (Global)</h2>
    {{ govieLink({
            "href": "#",
            "label": "Link for testing",
        })
    }}
    <h2>Link (Local)</h2>
    <a class="govie-link" href="#">Link for testing</a>
    <script src="{{ static('js/govie-frontend.umd.js') }}"></script>
</body>

</html>