{% from 'header/header.html' import govieHeader %}
{% from 'link/link.html' import govieLink %}
{% from 'file-upload/file-upload.html' import govieFileUpload %}
{% from 'footer/footer.html' import govieFooter %}
{% from 'heading/heading.html' import govieHeading %}
{% from 'paragraph/paragraph.html' import govieParagraph %}
{% from 'container/container.html' import govieContainer %}
{% from 'select/select.html' import govieSelect %}
{% from 'text-input/text-input.html' import govieTextInput %}
{% from 'textarea/textarea.html' import govieTextArea %}
{% from 'tabs/tabs.html' import govieTabs %}
{% from 'button/button.html' import govieButton %}
{% from 'icon/icon.html' import govieIcon %}
{% from 'tag/tag.html' import govieTag %}
{% from 'radio/radios-group.html' import govieRadiosGroup %}
{% from 'radio/radio.html' import govieRadio %}
{% from 'modal/modal.html' import govieModal %}
{% from 'icon-button/icon-button.html' import govieIconButton %}
{% from 'cookie-banner/cookie-banner.html' import govieCookieBanner %}
{% from 'combo-box/combo-box.html' import govieComboBox %}
{% from 'alert/alert.html' import govieAlert %}
{% from 'toast/toast.html' import govieToast %}
{% from 'card/card.html' import govieCard %}
{% from 'pagination/pagination.html' import goviePagination %}

{% from 'vars.jinja' import comboBoxProps, cookieBannerProps, modalProps, footerProps, HeaderProps, SelectProps, tabsProps, radioProps, listProps %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ static('css/theme.css') }}">
  <link rel="stylesheet" href="{{ static('css/styles.css') }}">
  <link rel="stylesheet" href="{{ static('css/ogcio-ds-0.4.4.min.css') }}">
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div class="gi-bg-gray-50">
      <div class="gi-container py-14">
        <div class="gi-flex gi-flex-col gi-gap-7">
          <div class="gi-flex gi-gap-7 justify-center items-end">
            <div class="max-w-[777px] grow gap-4 flex flex-col">
              {{ govieLink({'href': '#', 'label': 'Home', 'noColor': true}) }}
              {{ govieHeading({ 'size': 'lg', 'as': 'h2', 'text': 'Search Results' }) }}
              {{ govieTextInput({ 'id': 'search-input', 'fullFluid': 'true' }) }}
            </div>
            {{ govieButton({'content': 'Search gov.ie', 'appearance':'dark'}) }}
          </div>
        </div>
      </div>
    </div>
    <div class="gi-container mt-6">
    <div class="grid grid-cols-4 gap-4">
      <div>
        {{ govieHeading({ 'size': 'lg', 'as': 'h2', 'text': 'Filters' }) }}
        {{ govieComboBox(comboBoxProps) }}
        <div class="mt-9">
          {{ govieButton({"content": 'Apply filters', "appearance":"dark"}) }}
        </div>
      </div>
      <div class="col-span-3">
        <div class="mb-6 flex justify-between items-center">
          {{ govieSelect(SelectProps) }}
          {{ govieParagraph({'content': '49357 Results', 'className': '!gi-mb-0'}) }}
        </div>
          {{ govieCard({'type': 'horizontal', 'title': 'Passport Result 1', 'subTitle': 'Updated: DD/MM/YYY', 'content': 'Lorem ipsum dolor sit amet consectetur. Lectus aliquam morbi purus ac. Sollicitudin. Lorem ipsum dolor sit amet consectetur. Lectus aliquam morbi purus ac. Sollicitudin.'}) }}
          {{ govieCard({'type': 'horizontal', 'title': 'Passport Result 2', 'subTitle': 'Updated: DD/MM/YYY', 'content': 'Lorem ipsum dolor sit amet consectetur. Lectus aliquam morbi purus ac. Sollicitudin. Lorem ipsum dolor sit amet consectetur. Lectus aliquam morbi purus ac. Sollicitudin.'}) }}
          {{ govieCard({'type': 'horizontal', 'title': 'Passport Result 3', 'subTitle': 'Updated: DD/MM/YYY', 'content': 'Lorem ipsum dolor sit amet consectetur. Lectus aliquam morbi purus ac. Sollicitudin. Lorem ipsum dolor sit amet consectetur. Lectus aliquam morbi purus ac. Sollicitudin.'}) }}
          {{ govieCard({'type': 'horizontal', 'title': 'Passport Result 4', 'subTitle': 'Updated: DD/MM/YYY', 'content': 'Lorem ipsum dolor sit amet consectetur. Lectus aliquam morbi purus ac. Sollicitudin. Lorem ipsum dolor sit amet consectetur. Lectus aliquam morbi purus ac. Sollicitudin.'}) }}
      </div>
    </div> 
  </div>

  {{ govieFooter(footerProps) }}

  <script src="{{ static('js/govie-frontend.umd.js') }}"></script>
</body>

</html>
