{% set footerProps = {
  "links": [
    {
      "href": "#",
      "label": "Link 1",
    },
    {
      "href": "#",
      "label": "Link 2",
    },
    {
      "href": "#",
      "label": "Link 3",
    },
  ],
  "secondaryNavLinks": [
    {
      "heading": "Heading",
      "hasTwoCols": true,
      "links": [
        {
          "href": "#",
          "label": "Nav Link 1",
        },
        {
          "href": "#",
          "label": "Nav Link 2",
        },
        {
          "href": "#",
          "label": "Nav Link 3",
        },
        {
          "href": "#",
          "label": "Nav Link 4",
        },
      ],
    },
  ],
}
%}

{% set HeaderProps = {
  "logo": { "href": '/home' },
  "tools": {
    "search": {
      "action": '/search_page',
      "noJsSearchLink": '/search',
    },
    "menu": {
      "noJsMenuLink": '/menu',
    },
  },
  "navLinks": [
    {
      "href": '#',
      "label": 'News',
    },
    {
      "href": '#',
      "label": 'Departments',
    },
    {
      "href": '#',
      "label": 'Services',
    },
  ],
  "languages": [
    {
      "href": '#',
      "label": 'Gaeilge',
    },
  ],
}
%}

{% set SelectProps = {
  "id": "unique-id",
  "label": {
    "content": "Default Select"
    },
  "options": [
    {
      "label": "Option 1",
      "value": "value-1"
    },
      {
      "label": "Option 2",
      "value": "value-2"
    },
      {
      "label": "Option 3",
      "value": "value-4"
    },
  ]
}
%}

{% set tabsProps = {
      "ariaLabel": "aria label",
      "items": [
        {
            "label": "Tab 1",
            "checked": true,
            "panel": {
              "text": "Tab 1 Content"
            }
        },
        {
            "label": "Tab 2",
            "panel": {
              "text": "Tab 2 Content"
            }
        },
        {
            "label": "Tab 3",
            "panel": {
              "text": "Tab 3 Content"
            }
        },
        {
            "label": "Tab 4",
            "panel": {
              "text": "Tab 4 Content"
            }
        },
        {
            "label": "Tab 5",
            "panel": {
              "text": "Tab 5 Content"
            }
        }
      ]
  }
%}