{% from 'heading/heading.html' import govieHeading %}
{% from 'paragraph/paragraph.html' import govieParagraph %}
{% from 'button/button.html' import govieButton %}
{% from 'link/link.html' import govieLink %}

{% set footerProps = {
  "links": [
    {
      "href": "#",
      "label": "Link 1",
    },
    {
      "href": "#",
      "label": "Link 2",
    },
    {
      "href": "#",
      "label": "Link 3",
    },
  ],
  "secondaryNavLinks": [
    {
      "heading": "Heading",
      "hasTwoCols": true,
      "links": [
        {
          "href": "#",
          "label": "Nav Link 1",
        },
        {
          "href": "#",
          "label": "Nav Link 2",
        },
        {
          "href": "#",
          "label": "Nav Link 3",
        },
        {
          "href": "#",
          "label": "Nav Link 4",
        },
      ],
    },
  ],
}
%}

{% set HeaderProps = {
    "logo": { "href": '/home' },
    "tools": {
      "search": {
        "action": '/search_page',
        "label": 'Search',
      },
      "items": [
        {
          "href": '/item1',
          "label": 'Apps',
          "icon": 'apps',
        },
      ],
      "menu": {
        "label": 'Menu',
      },
    },
    "navLinks": [
      {
        "href": '#',
        "label": 'News',
      },
      {
        "href": '#',
        "label": 'Departments',
      },
      {
        "href": '#',
        "label": 'Services',
      },
    ],
    "languages": [
      {
        "href": '#',
        "label": 'Gaeilge',
      },
    ],
  }
%}

{% set SelectProps = {
  "id": "unique-id",
  "label": {
    "content": "Default Select"
    },
  "options": [
    {
      "label": "Option 1",
      "value": "value-1"
    },
      {
      "label": "Option 2",
      "value": "value-2"
    },
      {
      "label": "Option 3",
      "value": "value-4"
    },
  ]
}
%}

{% set tabsProps = {
      "ariaLabel": "aria label",
      "items": [
        {
            "label": "Tab 1",
            "checked": true,
            "panel": {
              "text": "Tab 1 Content"
            }
        },
        {
            "label": "Tab 2",
            "panel": {
              "text": "Tab 2 Content"
            }
        },
        {
            "label": "Tab 3",
            "panel": {
              "text": "Tab 3 Content"
            }
        },
        {
            "label": "Tab 4",
            "panel": {
              "text": "Tab 4 Content"
            }
        },
        {
            "label": "Tab 5",
            "panel": {
              "text": "Tab 5 Content"
            }
        }
      ]
  }
%}

{% set radioProps = {
  "fieldId": "uniqueId",
  "title": {
    "value": "Where do you live?",
    "asHeading": {
      "size": "md",
      "tag": "h2"
    }
  },
  "items": [
    {
      "label": "England",
      "value": "england"
    },
    {
      "label": "Scotland",
      "value": "scotland"
    },
    {
      "label": "Ireland",
      "value": "ireland"
    }
  ]
} 
%}

{% set modalProps = {
  "html": govieHeading({ "text" : "title", "tag": "h2"}) + govieParagraph({ "content": "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aperiam molestias error accusantium non nobis excepturi doloremque dolorem possimus corrupti. Nostrum quisquam est voluptate! Iure suscipit, commodi cupiditate sit minima veritatis." }) + '<div class="gi-flex gi-gap-6 gi-justify-end">' | safe + govieButton({"content": "Cancel Action", "variant": "secondary", "appearance": "dark"}) + govieButton({"content": "Primary Action"}) + '</div>' | safe,
  "triggerButton": govieButton({ "content": "Open Modal" })
} 
%}

{% set cookieBannerProps = {
  "children": govieHeading({"text": "Title", "tag": "h3"}) + govieParagraph({ "content": "We use some essential cookies to make this service work.<br><br>We’d also like to use analytics cookies so we can understand how you use the service and make improvements." }),
  "accept": {
    "children": govieHeading({"text": "Accepted Title", "tag": "h3"}) + govieParagraph({ "content": "You’ve accepted analytics cookies. You can change your cookie settings at any time." }),
    "triggerButton": {
      "content": "Accept cookies"
    }
  },
  "reject": {
    "children": govieHeading({"text": "Rejected Title", "tag": "h3"}) + govieParagraph({ "content": "You’ve rejected analytics cookies. You can change your cookie settings at any time." }),
    "triggerButton": {
      "content": "Reject cookies"
    }
  },
  "dismissButton": {
    "content": "Hide this message"
  },
  "cookieLink": {
    "label": "See cookies",
    "href": "#"
  }
}
%}