name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Build and test
        run: |
          corepack enable          
          pnpm install
          pnpm nx affected --base=last-release -t build --parallel=3
          pnpm nx affected --base=last-release -t test --parallel=3

      - name: Create Figma tokens flat artifact
        uses: actions/upload-artifact@v4
        with:
          name: figma-tokens
          path: packages/design/figma/dist/tokens

      - name: Create Figma tokens flat artifact
        uses: actions/upload-artifact@v4
        with:
          name: figma-tokens-flat
          path: packages/design/figma/dist/tokens-flat

      # - name: Version
      #   if: github.ref == 'refs/heads/main'
      #   run: |
      #     pnpm nx affected --base=last-release -t version --parallel=1

      # - name: Docker
      #   if: github.ref == 'refs/heads/main'
      #   run: |
      #     pnpm nx affected --base=last-release -t docker --parallel=1

      - name: Tag last-release
        if: github.ref == 'refs/heads/main'
        shell: bash
        run: |
          git tag -f last-release
          git push origin last-release --force
