.gi-card {
  @apply gi-flex gi-items-start gi-w-full gi-gap-4;
}

.gi-card-vertical {
  @apply gi-flex-col gi-min-w-[220px] gi-max-w-fit;
}

.gi-card-horizontal {
  @apply gi-min-w-[auto] gi-max-w-screen-md;
}

.gi-card-header {
  @apply gi-flex gi-items-center gi-justify-between gi-w-full;
}

.gi-card-heading,
.gi-card-paragraph {
  @apply gi-flex gi-flex-col;
}

.gi-card-heading {
  @apply gi-gap-2;
}

.gi-card-paragraph {
  @apply gi-py-4;
}

.gi-card-title {
  @apply gi-text-md gi-font-bold  gi-max-w-[60ch];
}

.gi-card-subheading {
  @apply gi-text-gray-600 gi-stroke-gray-600 gi-text-sm gi-max-w-[60ch];
}

.gi-card-wrap-text {
  @apply gi-break-words gi-overflow-hidden gi-text-ellipsis
    gi-line-clamp-2;
  display: -webkit-box !important;
}

.gi-card-image {
  @apply gi-items-start gi-self-stretch gi-w-full gi-h-auto;
}

.gi-card-image a {
  @apply !gi-w-full;
}

.gi-card-image img {
  @apply gi-w-full gi-h-auto;
}

.gi-card-icon {
  @apply gi-flex gi-items-start gi-self-stretch gi-h-auto;
}

.gi-card-iframe {
  @apply gi-flex gi-items-start gi-self-stretch gi-h-auto gi-max-w-[500px] gi-w-full gi-mx-auto;
}

.gi-card-iframe iframe {
  @apply gi-w-full gi-h-auto gi-aspect-[4/3];
}

.gi-card-content {
  @apply gi-flex gi-flex-col gi-items-start gi-w-full;
}

.gi-card-tag {
  @apply gi-flex gi-self-start;
}

.gi-card-inset-body {
  @apply gi-p-4;
}

.gi-card-vertical.gi-card-inset-body,
.gi-card-horizontal.gi-card-inset-body {
  @apply gi-p-0;
}

.gi-card-action {
  @apply gi-text-md;
}
