/* General focus classes */

.gi-focus-state-outline {
  @apply gi:focus:outline
  gi:focus:outline-sm
  gi:focus:outline-yellow-400
  gi:focus:outline-offset-0;
}

.gi-focus-visible-state-outline {
  @apply gi:focus-visible:outline
  gi:focus-visible:outline-sm
  gi:focus-visible:outline-yellow-400
  gi:focus-visible:outline-offset-0;
}

.gi-focus-within-state-outline {
  @apply gi:focus-within:outline
  gi:focus-within:outline-sm
  gi:focus-within:outline-yellow-400
  gi:focus-within:outline-offset-0;
}

.gi-focus-visible-state-outline-inner-shadow-sm {
  @apply gi-focus-visible-state-outline gi:focus-visible:shadow-[inset_0_0_0_2px] gi:focus-visible:shadow-gray-950 gi:focus-visible:rounded-sm gi:focus-visible:bg-gray-200;
}

.gi-focus-state-outline-inner-shadow-sm {
  @apply gi:focus:bg-gray-200 gi-focus-state-outline gi:focus:shadow-[inset_0_0_0_2px] gi:focus:shadow-gray-950 gi:focus:rounded-sm;
}

.gi-focus-state-border {
  @apply gi:focus:border-solid gi:focus:border-gray-950 gi:focus:border-md;
}

.gi-focus-visible-state-border {
  @apply gi:focus-visible:border-solid gi:focus-visible:border-gray-950 gi:focus-visible:border-md;
}

.gi-focus-state-border-sm {
  @apply gi-focus-state-border gi:focus:border-sm;
}

.gi-focus-state-border-sm-rounded {
  @apply gi-focus-state-border-sm gi:focus:rounded-sm;
}

.gi-focus-visible-state-border-sm {
  @apply gi-focus-visible-state-border gi:focus-visible:border-sm;
}

.gi-focus-visible-state-border-sm-rounded {
  @apply gi-focus-visible-state-border-sm gi:focus-visible:rounded-sm;
}
/* General focus classes */

/* Inputs focus state */
input[type='text'] {
  @apply gi-focus-state-outline gi-focus-state-border gi:focus:rounded-md;
}
/* Inputs focus state*/

/* Error state */
.gi-error-state {
  @apply gi:pl-4 gi:border-solid gi:border-l-lg gi:border-red-600;
}

.gi-error-state input[type='text'],
.gi-error-state input[type='password'],
.gi-error-state input[type='email'],
.gi-error-state input[type='number'],
.gi-error-state input[type='tel'],
.gi-error-state input[type='url'],
.gi-error-state input[type='search'],
.gi-error-state input[type='date'],
.gi-error-state input[type='datetime-local'],
.gi-error-state input[type='color'],
.gi-error-state input[type='file'],
.gi-error-state input[type='range'],
.gi-error-state select,
.gi-error-state textarea {
  @apply gi:border-red-600 gi-focus-visible-state-border;
}

/* End of Error state */

/* General Input disable state */
.gi-input-disabled-state {
  @apply gi:disabled:bg-gray-200 gi:disabled:border-gray-400 gi:disabled:text-gray-700 gi:disabled:cursor-not-allowed;
}
/* General Input disable state */
