.gi-link {
  @apply gi-decoration-xs gi-inline-flex gi-underline gi-underline-offset-[0.2em] gi-text-color-text-tone-convention-default gi-relative gi-w-fit;
}

.gi-link:not([aria-current='page']) {
  @apply focus:gi-no-underline
    focus:gi-rounded-sm
    focus:gi-shadow-[0_0_0_2px_var(--gieds-color-gray-950),0_0_0_5px_var(--gieds-color-yellow-400)]
    focus-visible:gi-shadow-[0_0_0_2px_var(--gieds-color-gray-950),0_0_0_5px_var(--gieds-color-yellow-400)]
    focus-visible:gi-no-underline
    focus-visible:gi-rounded-sm
    focus-visible:gi-outline-none;
}
.gi-link:not([aria-current='page']):not(.gi-link-disabled) {
  @apply hover:gi-decoration-lg focus:gi-no-underline focus:gi-rounded-sm focus:gi-shadow-[0_0_0_2px_var(--gieds-color-gray-950),0_0_0_5px_var(--gieds-color-yellow-400)] focus-visible:gi-shadow-[0_0_0_2px_var(--gieds-color-gray-950),0_0_0_5px_var(--gieds-color-yellow-400)] focus-visible:gi-no-underline focus-visible:gi-rounded-sm focus-visible:gi-outline-none;
}

.gi-link:not(.gi-link-disabled)[aria-current='page'] {
  @apply gi-text-color-icon-tone-convention-disabled gi-pointer-events-none gi-no-underline focus-visible:gi-outline-none focus-visible:gi-shadow-none;
}

.gi-link:not(.gi-link-inherit):not(.gi-link-disabled):not(.gi-link-light) {
  @apply hover:gi-text-color-text-tone-convention-hover focus:gi-text-color-text-tone-convention-hover focus-visible:gi-text-color-text-tone-convention-hover;
}
.gi-link:not(.gi-link-inherit):not(.gi-link-disabled):not(.gi-link-light) {
  @apply visited:gi-text-color-icon-tone-convention-visited;
}

.gi-link-no-visited {
  @apply visited:gi-text-color-text-tone-convention-default;
}

.gi-link-no-underline {
  @apply hover:gi-underline gi-no-underline gi-underline-offset-[0.1em] focus:gi-no-underline;
}

.gi-link-icon {
  @apply gi-absolute;
}

.gi-link-icon[data-size='sm'] {
  @apply gi-top-1;
}
.gi-link-icon[data-size='md'] {
  @apply gi-top-[5.5px];
}
.gi-link-icon[data-size='lg'] {
  @apply gi-top-2;
}

.gi-link-icon-start {
  @apply gi-left-0;
}

.gi-link-icon-end {
  @apply gi-right-0;
}

.gi-link-inherit {
  @apply gi-text-inherit hover:gi-text-inherit;
}

.gi-link-disabled {
  @apply gi-text-color-icon-tone-convention-disabled gi-cursor-default focus:gi-text-color-icon-tone-convention-disabled  gi-pointer-events-none;
}

.gi-link-disabled[data-appearance='light'] {
  @apply gi-text-color-text-tone-light-disabled;
}

.gi-link-light {
  @apply focus:gi-text-white hover:gi-text-white gi-text-white;
}
