.gi-modal {
  @apply gi-bg-[rgba(11,12,12,0.6)] gi-fixed gi-left-0 gi-top-0;
}

.gi-modal-body {
  @apply gi-px-4 gi-flex-1 xs:gi-px-6;
}

.gi-modal-footer {
  @apply gi-p-4 xs:gi-p-6;
}

.gi-modal-open {
  @apply gi-flex gi-fixed gi-w-full gi-h-full gi-left-0 gi-top-0 gi-z-1000;
}

.gi-modal-close {
  @apply gi-hidden;
}

.gi-modal-container {
  @apply gi-bg-white gi-absolute;
}

.gi-modal-container > :first-child {
  @apply gi-flex gi-justify-end gi-items-center gi-w-full gi-py-3 gi-px-4 xs:gi-py-4 xs:gi-px-6;
}

.gi-modal-container > :nth-child(2) {
  @apply gi-flex gi-flex-col gi-flex-1;
}

.gi-modal-container-center {
  @apply gi-bg-white gi-relative gi-m-auto;
}

.gi-modal-container-left {
  @apply gi-left-0 gi-top-0 gi-h-full gi-w-full xs:gi-w-[420px];
  animation: gi-slide-in-left 0.5s ease-out forwards;
}

.gi-modal-container-right {
  @apply gi-right-0 gi-top-0 gi-h-full gi-w-full xs:gi-w-[420px];
  animation: gi-slide-in-right 0.5s ease-out forwards;
}

.gi-modal-container-bottom {
  @apply gi-left-0 gi-bottom-0 gi-w-full;
  animation: gi-slide-in-bottom 0.5s ease-out forwards;
}

.gi-modal-container-open {
  @apply gi-transform gi-translate-x-0 gi-translate-y-0;
}

@keyframes gi-slide-in-left {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes gi-slide-in-right {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes gi-slide-in-bottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
