input::placeholder,
textarea::placeholder {
  @apply gi:text-gray-600 gi:stroke-gray-600;
}

input:disabled::placeholder,
textarea:disabled::placeholder {
  @apply gi:text-gray-700 gi:stroke-gray-700;
}
