.gi-summary-list {
  @apply gi-rounded-md
   
   gi-overflow-hidden
   gi-antialiased
   gi-text-sm gi-w-full;
}

.gi-summary-list > table {
  @apply gi-w-full;
}

.gi-summary-list > table > tbody tr {
  @apply gi-flex gi-flex-col md:gi-table-row gi-align-top;
}

.gi-summary-list > table th {
  @apply gi-font-bold gi-align-top gi-text-left;
}

.gi-summary-list > table td {
  @apply gi-py-2 gi-align-top gi-px-3;
}

.gi-summary-list > table th {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.gi-summary-list > table tr > th,
.gi-summary-list > table tr > td {
  @apply gi-py-2 gi-px-3 md:gi-px-3 md:gi-py-2;
}

.gi-summary-list-action {
  @apply gi-text-sm gi-font-normal gi-align-top md:gi-text-right gi-whitespace-nowrap;
}

.gi-summary-list > table thead {
  @apply gi-bg-color-surface-system-neutral-layer1 gi-border-b gi-border-color-border-system-neutral-muted;
}
